﻿
@{
    ViewBag.Title = "Addadmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <input type="hidden" id="msg" value="@ViewBag.msg" />

    <!-- END: Subheader -->
    <div class="m-content">
        <div class="row">
            <div class="col-md-6">
                <!--begin::Portlet-->
                <div class="m-portlet m-portlet--tab">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span>
                                <h3 class="m-portlet__head-text">
                                    Add New Admin
                                </h3>
                            </div>
                        </div>
                    </div>

                    <!--begin::Form-->
                    @using (Html.BeginForm("AddAdminUser", "Users", FormMethod.Post, new { @class = "m-form m-form--fit m-form--label-align-right", @role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="m-portlet__body">
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Role</label>
                                <select name="Role" class="form-control m-input m-input--square">
                                    <option value="admin">Admin</option>
                                    <option value="verifier">Verifier</option>
                                    <option value="approver">Approver</option>
                                </select>
                            </div>
                        </div>

                        <div class="m-portlet__body">

                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control m-input" name="UserId" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            </div>

                        </div>
                        <div class="m-portlet__foot m-portlet__foot--fit">
                            <div class="m-form__actions">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="reset" class="btn btn-secondary">Cancel</button>
                            </div>
                        </div>
                    }
                    <!--end::Form-->
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            var response = $("#msg").val();
            console.log(response);
            console.log(response.length);
            if (response !== undefined && response.length > 0) {
                swal(response);
            }
        })
    </script>
}