﻿@model TruGoClassLibrary.ResponseClass.UsersResponseModel
@{
    ViewBag.Title = "Viewusers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section styles{
    <link href="~/Content/assets/vendors/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
}

<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <input type="hidden" id="msg" value="@ViewBag.msg" />
    <div class="m-content">

        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            View all users
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                </div>
            </div>
            <div class="m-portlet__body">

                <table id="m_table_1" class="table table-striped- table-bordered table-hover table-checkable" style="width:100%">
                    <thead>
                        <tr>
                            <th></th>

                            <th>Last Name</th>
                            <th>First Name</th>
                            <th>Email Address</th>
                            <th>Investor Type</th>
                            <th>Phone Number</th>
                            <th>Industry</th>
                            <th>Email Approved</th>
                            <th>Account Approved</th>
                            <th>User Type</th>

                            <th>Action</th>


                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model == null)
                            {
                                /**/
                            }
                            else
                            {
                                foreach (var item in Model.data)
                                {
                                    <tr>
                                        <td></td>
                                        <td>@item.LastName</td>
                                        <td>@item.FirstName</td>
                                        <td>@item.EmailAddress</td>
                                        <td>@item.InvestorType</td>
                                        <td>@item.PhoneNumber</td>
                                        <td>@item.Industry</td>
                                        <td>@item.IsEmailConfirmed</td>
                                        <td>@item.IsAccountApproved</td>
                                        <td>@item.AccountType</td>
                                        <td>

                                            <div class="dropdown">
                                                <a href="#" class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">
                                                    <i class="la la-ellipsis-h"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right" x-placement="top-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-187px, -57px, 0px);">
                                                    <a href="#" class="dropdown-item" data-toggle="modal" data-target="#approve_@item.UserId"><i class="la la-edit"></i>Approve Profile</a>
                                                    <a class="dropdown-item" href="#"><i class="la la-print"></i>View Profile</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                    <div class="modal fade" id="approve_@item.UserId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                                        <div class="modal-dialog modal-sm" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Approve User</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                @using (Html.BeginForm("ApproveUser", "Users", FormMethod.Post))
                                                {
                                                    <div class="modal-body">
                                                        <div class="modal-body">

                                                            @Html.AntiForgeryToken()
                                                            <input type="hidden" name="userid" value="@item.UserId" />
                                                            <h6>
                                                                This will approve the selected user's profile
                                                            </h6>


                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">Approve</button>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }

                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Content/assets/vendors/custom/datatables/datatables.bundle.js" type="text/javascript"></script>
    <script src="~/Scripts/Viewusers.js"></script>
}

