﻿@model IEnumerable<TruGoClassLibrary.ResponseClass.NotificationResponseModel>
<!-- Top 5 Freelancer Modal Start -->
<section class="modals">
    <div class="container">
        <div class="modal fade" id="search-freelancer" role="dialog" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content top-freelancer">
                    <div class="modal-body">
                        <div class="modal-header">
                            <p>Recent Invoices</p>
                            <a href="#">View</a>
                        </div>
                        <div class="form-content">
                            <ul>
                                <li>
                                    <div class="freelancer-tm">
                                        @*<img src="img/search-1.jpg" alt="">*@
                                        <div class="freelancers-info">
                                            <div class="freelancers-name">
                                                <p>Invoice Title</p>
                                            </div>

                                            <br />
                                            <ul class="review">

                                                <li>12/12/2019</li>
                                                <li>&#8358;45000</li>

                                            </ul>
                                            <a href="#" class="button-ymp">Buy</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="freelancer-tm">
                                        @*<img src="img/search-1.jpg" alt="">*@
                                        <div class="freelancers-info">
                                            <div class="freelancers-name">
                                                <p>Invoice Title</p>
                                            </div>

                                            <br />
                                            <ul class="review">

                                                <li>12/12/2019</li>
                                                <li>&#8358;45000</li>

                                            </ul>
                                            <a href="#" class="button-ymp">Buy</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="freelancer-tm">
                                        @*<img src="img/search-1.jpg" alt="">*@
                                        <div class="freelancers-info">
                                            <div class="freelancers-name">
                                                <p>Invoice Title</p>
                                            </div>

                                            <br />
                                            <ul class="review">

                                                <li>12/12/2019</li>
                                                <li>&#8358;45000</li>

                                            </ul>
                                            <a href="#" class="button-ymp">Buy</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="freelancer-tm">
                                        @*<img src="img/search-1.jpg" alt="">*@
                                        <div class="freelancers-info">
                                            <div class="freelancers-name">
                                                <p>Invoice Title</p>
                                            </div>

                                            <br />
                                            <ul class="review">

                                                <li>12/12/2019</li>
                                                <li>&#8358;45000</li>

                                            </ul>
                                            <a href="#" class="button-ymp">Buy</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="freelancer-tm">
                                        @*<img src="img/search-1.jpg" alt="">*@
                                        <div class="freelancers-info">
                                            <div class="freelancers-name">
                                                <p>Invoice Title</p>
                                            </div>

                                            <br />
                                            <ul class="review">

                                                <li>12/12/2019</li>
                                                <li>&#8358;45000</li>

                                            </ul>
                                            <a href="#" class="button-ymp">Buy</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            @*<div class="project-preview">
                                    <ul>
                                        <li>
                                            <h6 class="title">Projects</h6>
                                            <p class="view"><a href="#">View</a></p>
                                        </li>
                                        <li>
                                            <p class="project-title">Design Project</p>
                                            <ul class="cat">
                                                <li>Graphic Design,</li>
                                                <li>Icon,</li>
                                                <li>Logo Design</li>
                                                <li>$20-$60 USD</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <p class="project-title">Hire a Graphic</p>
                                            <ul class="cat">
                                                <li>Graphic Design,</li>
                                                <li>Icon,</li>
                                                <li>Logo Design,</li>
                                                <li>Photoshop</li>
                                                <li><span>$2-$10 USD</span></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <p class="project-title">Design a Logo</p>
                                            <ul class="cat">
                                                <li>Graphic Design,</li>
                                                <li>Icon,</li>
                                                <li>Logo Design,</li>
                                                <li>Photoshop</li>
                                                <li><span>$20-$40 USD</span></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <p class="project-title">Design a Professional e Commerce Website</p>
                                            <ul class="cat">
                                                <li>Graphic Design,</li>
                                                <li>Web Design,</li>
                                                <li>UI Design</li>
                                                <li>Photoshop</li>
                                                <li><span>$700 USD</span></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <p class="project-title">Tatto Ink</p>
                                            <ul class="cat">
                                                <li>Graphic Design,</li>
                                                <li>Logo Design</li>
                                                <li><span>$250-$400 USD</span></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>*@
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="tm-search">
                            <a href="#">
                                <span><i class="icofont icofont-search"></i></span>
                                <p>Search all results for “search parameter”</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Modals End -->
<!-- Modal Notification -->
<section class="modals">
    <div class="container">
        <div class="modal fade" id="notification" role="dialog" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content unread-messages">
                    <div class="modal-body">
                        <div class="chatting-page">
                            <div class="chat-freelancers">
                                <div class="users">
                                    <ul>
                                        @{
                                            if (Model != null)
                                            {
                                                foreach (var item in Model)
                                                {
                                                    <li>
                                                        <div class="notification-details">
                                                            <p class="notification-text"><b>Notification:</b>@item.Message></p>
                                                            <p class="notification-time">@item.Date_Created</p>
                                                        </div>
                                                    </li>
                                                }

                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Modals End -->
