﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="application-name" content="">
    <meta name="description" content="">
    <title>@ViewBag.Title</title>
    <link rel="icon" href="img/Thumbnail.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/template/css/vendor/bootstrap.min.css">
    <!-- Normalize -->
    <link rel="stylesheet" type="text/css" href="~/Content/template/css/vendor/normalize.css">
    <!-- Ico Font -->
    <link rel="stylesheet" type="text/css" href="~/Content/template/css/vendor/icofont/css/icofont.css">
    <!-- LOAD JQUERY LIBRARY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- REVOLUTION STYLE SHEETS -->
    <!-- Paraia Multiselect -->
    <!-- Style Css -->
    <link rel="stylesheet" type="text/css" href="~/Content/template/css/custom/style.css">

    <link rel="stylesheet" href="~/Content/template/css/vendor/paraia_multi_select.min.css">

    <!-- Responsive Css -->
    <link rel="stylesheet" type="text/css" href="~/Content/template/css/custom/responsive.css">

    <link href="~/Content/template/css/custom/custom.css" rel="stylesheet" />

    <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link href="~/Content/template/css/loader/css-loader.css" rel="stylesheet" />


    @RenderSection("styles", required: false)
</head>
<body>
    <div id="loader" class="loader loader-default"></div>

    <!-- Header Start -->
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-7 order-sm-1 order-2 primary-menu-tm">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href="/Home/Index"><img src="~/Content/assets/global/img/trugo-logo-trans.png" style="width:123px" class="img-responsive" alt="TruGo logo"></a>

                    </nav>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-5 order-sm-2 order-1 header-notification">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <ul class="navbar-nav ml-auto ymp-right-menu">
                            @*<li class="nav-item">
                                    <a href="financial-dashboard.html" class="nav-link usd">USD $350</a>
                                </li>*@
                            @*<li class="nav-item">
                                    <a class="nav-link nav-icon heart" href="#" data-toggle="modal" data-target="#followed"><i class="far fa-heart"></i><span>1</span></a>
                                </li>*@
                            <li class="nav-item">
                                <a id="btnnotification" class="nav-link nav-icon bell" href="#" data-toggle="modal" data-target="#notification"><i class="far fa-bell"></i>@*<span>1</span>*@</a>
                            </li>
                            @*<li class="nav-item">
                                    <a class="nav-link nav-icon envolope" href="#" data-toggle="modal" data-target="#unread-messages"><i class="far fa-envelope"></i><span>1</span></a>
                                </li>*@
                            <li class="menu-bar dropdown dropdown-user">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="~/Content/template/img/profile-img.jpg" alt="">
                                    <span>Hi Sasha</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item dropdown"><a class="dropdown-item" href="/MarketPlace/Invoices"><i class="fa fa-globe"></i> Market Place</a></li>
                                    <li class="nav-item dropdown"><a class="dropdown-item" href="/Seller/Dashboard"><i class="fas fa-chart-line"></i> My Profile</a></li>
                                    <li class="nav-item dropdown"><a class="dropdown-item" href="/Account/Purchasecredit"><i class="fa fa-credit-card"></i> Purchase Credit</a></li>
                                    <li class="nav-item dropdown"><a class="dropdown-item" href="/Account/Withdrawcredit"><i class="fas fa-piggy-bank"></i> Withdraw Credit</a></li>
                                    <li><a class="dropdown-item" href="/Account/AccountStatement"><i class="fa fa-dashboard"></i> Financial Dashboard</a></li>
                                    <li><a class="dropdown-item" href="/Marketplace/RaiseInvoiceDispute"><i class="fa fa-ticket"></i> Raise Dispute</a></li>
                                    <li><a class="dropdown-item" href="#"><i class="fa fa-sign-out"></i>Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->
    @RenderBody()

    <footer id="footer" class="margin-top">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <h4 class="widget-title">About Us</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <h4 class="widget-title">Quick Links</h4>
                        <ul>
                            <li><a href="#">Success stories</a></li>
                            <li><a href="#">Take the first Step</a></li>
                            <li><a href="#">Get started in minutes</a></li>
                            <li><a href="#">Featured Invoices</a></li>
                            @*<li><a href="#">Top 5 freelancers</a></li>*@
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <h4 class="widget-title">Support</h4>
                        <ul>
                            <li><a href="#">Live chat</a></li>
                            <li><a href="#">Contact us</a></li>
                            @*<li><a href="#">Support HQ</a></li>
                                <li><a href="#">Trust & Safety</a></li>*@
                            <li><a href="#">Raise a dispute</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <h4 class="widget-title">Get In Touch</h4>
                        <div class="contact">
                            <ul>
                                <li>
                                    <i class="icofont icofont-iphone"></i>
                                    <a href="tel:+8801717722179">+880 1717 722179</a>
                                </li>
                                <li>
                                    <i class="icofont icofont-send-mail"></i>
                                    <a href="mailto:info@trugo.com">info@trugo.com</a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-inline">
                            <ul class="social-icons">
                                <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                                @*<li><a href="#"><i class="icofont icofont-social-skype"></i></a></li>*@
                                @*<li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>*@
                                <li><a href="#"><i class="icofont icofont-brand-linkedin"></i></a></li>
                                @*<li><a href="#"><i class="icofont icofont-youtube-play"></i></a></li>
                                    <li><a href="#"><i class="icofont icofont-social-tumblr"></i></a></li>
                                    <li><a href="#"><i class="icofont icofont-social-pinterest"></i></a></li>*@

                            </ul>
                            <ul class="applicategoriesion-store">
                                <li><a href="#"><img src="~/Content/template/img/store/app-store.png" alt=""></a></li>
                                <li><a href="#"><img src="~/Content/template/img/store/play-store.png" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <p class="copyright">© 2019 <a href="https://www.trugo.com" title="TruGo" target="_blank">TruGo</a> </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End -->
    <!-- REVOLUTION JS FILES -->

    @*@Html.Partial("~/Views/Shared/_ModalsPartial.cshtml")*@

    <script src="~/Content/template/js/vendor/font-awesome.js"></script>
    <script src="~/Content/template/js/vendor/tether.min.js"></script>
    <script src="~/Content/template/js/vendor/popper.min.js"></script>
    <script src="~/Content/template/js/vendor/bootstrap.min.js"></script>
    <script src="~/Content/template/js/main.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>
