﻿
@{
    ViewBag.Title = "Post Invoice";
    Layout = "~/Views/Shared/_TemplateLayout.cshtml";
}
@section styles{
    <link href="~/Content/template/plugin/taginput/css/tagsinput.css" rel="stylesheet" />
    <link href="~/Content/template/plugin/fileinput/css/fileinput.min.css" rel="stylesheet" />
    <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />

}
<section id="overview">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <!-- BEGIN SAMPLE FORM PORTLET-->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa fa-icon-book"></i>Post Invoice</h5>
                        <form role="form" id="submit_invoiceform" method="post">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="invoicetitle">Invoice title</label>
                                                <input type="text" name="invoicetitle" class="form-control" placeholder="Invoice Title">
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="from-group">
                                                <label for="invoicetitle">Client</label>
                                                <input type="text" name="client" class="form-control" placeholder="Client">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="invoicetitle">Invoice date</label>
                                                <input type="text" name="invoicedate" class="form-control" id="invoicedate" placeholder="Invoice date">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="invoicetitle">Due date</label>
                                                <input type="text" name="duedate" class="form-control date-picker" id="invoiceduedate" placeholder="Payment date">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>
                                                    Invoice amount
                                                </label>
                                                <input type="number" class="form-control" id="txtinvoiceamount" name="amount" placeholder="200000" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>
                                                    Discount rate
                                                </label>
                                                <input type="number" max="100" class="form-control" id="txtinvoicedisc" placeholder="5" name="discountrate" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>
                                                    Sale price
                                                </label>
                                                <input type="number" class="form-control" id="txtinvoicesaleprice" readonly name="saleprice" />
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <label>
                                            Invite people
                                            <br />
                                            <span>
                                                <small>
                                                    <small>Note:Use enter key to separate multiple invite</small>
                                                </small>
                                            </span>
                                        </label>
                                        <br />
                                        <input type="text" id="inputtag" data-role="tagsinput" name="invitations" placeholder="ee@abc.com" />
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            Comments
                                        </label>
                                        <textarea name="comment" placeholder="Invoice notes" class="form-control">

                                            </textarea>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <label for="invoiceattachment">Attach invoice</label>

                                        <input id="input-id" type="file" name="invoicefile" input-b1"" class="file">

                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="button" id="btnpostinvoice" class="btn btn-primary">Submit</button>
                                <button type="button" class="btn default">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- END SAMPLE FORM PORTLET-->
            </div>
            <div class="col-md-3">
                <div class="card mb-10">
                    <div class="card-body">
                        <h5 class="card-title">Post Invoice Tips</h5>
                        <p class="card-text">You can.....</p>
                        <a href="#" class="card-link">Link to doc or page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts
{
    <script src="~/Content/template/js/vendor/tether.min.js"></script>
    <script src="~/Content/template/js/vendor/popper.min.js"></script>
    <script src="~/Content/template/js/vendor/bootstrap.min.js"></script>
    <script src="~/Content/template/js/main.js"></script>
    <script src="~/Content/template/plugin/taginput/js/tagsinput.js"></script>
    @*<script src="~/Content/template/js/postinvoice.js"></script>*@
    <script src="~/Content/template/plugin/fileinput/js/fileinput.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
    <script src="~/Scripts/ApiCalls/Invoices/CreateInvoice.js"></script>

}
