﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title ">TruGo Admin Dashbaord</h3>
        </div>
        <div>
            <span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
                <span class="m-subheader__daterange-label">
                    <span class="m-subheader__daterange-title"></span>
                    <span class="m-subheader__daterange-date m--font-brand"></span>
                </span>
                <a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
                    <i class="la la-angle-down"></i>
                </a>
            </span>
        </div>
    </div>
</div>
<div class="m-content">
    <div class="row">
        <div class="col-xl-4">

            <!--begin:: Widgets/Activity-->
            <div class="m-portlet m-portlet--bordered-semi m-portlet--widget-fit m-portlet--full-height m-portlet--skin-light  m-portlet--rounded-force">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text m--font-light">
                               TruGo User Activity
                            </h3>
                        </div>
                    </div>
                   
                </div>
                <div class="m-portlet__body">
                    <div class="m-widget17">
                        <div class="m-widget17__visual m-widget17__visual--chart m-portlet-fit--top m-portlet-fit--sides m--bg-danger">
                            <div class="m-widget17__chart" style="height:320px;">
                                <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                                <canvas id="m_chart_activities" width="477" height="270" class="chartjs-render-monitor" style="display: block; height: 216px; width: 382px;"></canvas>
                            </div>
                        </div>
                        <div class="m-widget17__stats">
                            <div class="m-widget17__items m-widget17__items-col1">
                                <div class="m-widget17__item">
                                    <span class="m-widget17__icon">
                                        <i class="flaticon-truck m--font-brand"></i>
                                    </span>
                                    <span class="m-widget17__subtitle">
                                        Total Users
                                    </span>
                                    <span class="m-widget17__desc">
                                        15
                                    </span>
                                </div>
                                <div class="m-widget17__item">
                                    <span class="m-widget17__icon">
                                        <i class="flaticon-paper-plane m--font-info"></i>
                                    </span>
                                    <span class="m-widget17__subtitle">
                                        Pending Approval
                                    </span>
                                    <span class="m-widget17__desc">
                                        72
                                    </span>
                                </div>
                            </div>
                            <div class="m-widget17__items m-widget17__items-col2">
                                <div class="m-widget17__item">
                                    <span class="m-widget17__icon">
                                        <i class="flaticon-pie-chart m--font-success"></i>
                                    </span>
                                    <span class="m-widget17__subtitle">
                                        Approved Sellers
                                    </span>
                                    <span class="m-widget17__desc">
                                        72
                                    </span>
                                </div>
                                <div class="m-widget17__item">
                                    <span class="m-widget17__icon">
                                        <i class="flaticon-time m--font-danger"></i>
                                    </span>
                                    <span class="m-widget17__subtitle">
                                        Approved Investors
                                    </span>
                                    <span class="m-widget17__desc">
                                        34
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--end:: Widgets/Activity-->
        </div>
    </div>
</div>