﻿@{
    Layout = null;
}

<!DOCTYPE html>

<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 4
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
Renew Support: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<html lang="en">

<!-- begin::Head -->
<head>
    <meta charset="utf-8" />
    <title>TruGo Admin | Login Page - 3</title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">

    <!--begin::Web font -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <!--end::Web font -->
    <!--begin::Global Theme Styles -->
    <link href="~/Content/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />

    <!--RTL version:<link href="../../../assets/vendors/base/vendors.bundle.rtl.css" rel="stylesheet" type="text/css" />-->
    <link href="~/Content/assets/demo/default/base/style.bundle.css" rel="stylesheet" type="text/css" />

    <!--RTL version:<link href="../../../assets/demo/default/base/style.bundle.rtl.css" rel="stylesheet" type="text/css" />-->
    <!--end::Global Theme Styles -->
    @*<link rel="shortcut icon" href="../../../assets/demo/default/media/img/logo/favicon.ico" />*@
</head>

<!-- end::Head -->
<!-- begin::Body -->
<body class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--fixed m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">

    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page">
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-2" id="m_login" style="background-image: url(../../../assets/app/media/img//bg/bg-3.jpg);">
            <div class="m-grid__item m-grid__item--fluid	m-login__wrapper">
                <div class="m-login__container">
                    <div class="m-login__logo">
                        <a href="#">
                            <img src="~/Content/assets/app/media/img/logos/">
                        </a>
                    </div>
                    <div class="m-login__signin">
                        <div class="m-login__head">
                            <h3 class="m-login__title">Sign In To TruGo Admin</h3>
                        </div>
                        <form class="m-login__form m-form" action="">
                            <div class="form-group m-form__group">
                                <input class="form-control m-input" type="text" placeholder="Email" name="email" id="txtsigninemail" autocomplete="off">
                            </div>
                            <div class="form-group m-form__group">
                                <input class="form-control m-input m-login__form-input--last" type="password" id="txtsigninpassword" placeholder="Password" name="password">
                            </div>

                            <div class="m-login__form-action">
                                <button type="button" id="m_login_signin_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-login__btn m-login__btn--primary">Sign In</button>
                            </div>
                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <!-- end:: Page -->
    <!--begin::Global Theme Bundle -->
    <script src="~/Content/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
    <script src="~/Content/assets/demo/default/base/scripts.bundle.js" type="text/javascript"></script>

    <!--end::Global Theme Bundle -->
    <!--begin::Page Scripts -->
    @*<script src="~/Content/assets/snippets/custom/pages/user/login.js" type="text/javascript"></script>*@

    <script>
        $("#m_login_signin_submit").click(function () {
            var email = $("#txtsigninemail").val();
            var password = $("#txtsigninpassword").val();

            var requestObject = {
                Email: email, Password: password
            };
            $.ajax({
                type: 'POST',
                url: 'http://apitest.trugo.co/api/Account/Login',
                data: JSON.stringify(requestObject),
                contentType: 'application/json',
                success: function (data) {
                    if (data !== undefined && data !== null) {
                        localStorage.setItem('userdata', JSON.stringify(data));
                        console.log(data);
                        $("#loader").removeClass('is-active');
                        if (data.emailconfirmed.toLowerCase() === 'false') {
                            swal("TruGo!", "Your TruGo email has not been verified", "error");
                            setTimeout(function () {
                                window.location.replace("http://apptest.trugo.co/Account/VerifyUser?userid=" + data.userId);
                            }, 2000);
                        }
                        else if (data.profilecreated.toLowerCase() === 'false') {
                            swal("TruGo!", "You have not set up your TruGo profile, click Ok to get started", "error").then(() => {
                                window.location.replace("http://apptest.trugo.co/Account/AccountSetup");
                            });
                        }
                        else if (data.accountapproved.toLowerCase() === 'false') {
                            swal("TruGo!", "Your TruGo profile is still on moderation", "error");
                            localStorage.clear();

                        }
                        else {
                            var getUserDetails = localStorage.getItem('userdata');
                            var userData = JSON.parse(getUserDetails);

                            $.ajax({

                                type: 'Get',
                                url: 'http://apitest.trugo.co/api/Account/GetUserRoles?userid=' + userData.userId,
                                success: function (userrole) {
                                    if (userrole !== undefined && userrole !== null) {
                                        console.log(userrole);
                                        for (var i = 0; i < userrole.length; i++) {
                                            if (userrole[i] === "admin") {
                                                window.location.replace("http://admin.trugo.co/Admin/Index");
                                            }

                                           
                                        }

                                    }
                                    else {
                                        swal("TruGo!", "Invalid login details", "error");
                                    }
                                }
                            });

                        }

                    }
                    else {
                        swal("TruGo!", "Invalid login details", "error");

                    }
                },
                error: function (code, exception) {
                    $("#loader").removeClass('is-active');
                    if (code.status === 0) {
                        swal("TruGo", "You are not connected to the internet", "error");
                    } else if (code.status === 404) {
                        swal("TruGo", "an error has occured", "error");
                    } else if (code.status === 500) {
                        swal("TruGo", "an error has occured", "error");
                    } else if (exception === 'parsererror') {
                        swal("TruGo", "an error has occured", "error");
                    } else if (exception === 'timeout') {
                        swal("TruGo", "Request has timed out", "error");
                    } else if (exception === 'abort') {
                        swal("TruGo", "an error has occured", "error");
                    } else {
                        swal("TruGo", "an error has occured", "error");
                    }

                }
            });
        });
    </script>

    <!--end::Page Scripts -->
</body>

<!-- end::Body -->
</html>