.m-option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1.4em;
    border-radius: 6px
}

    .m-option .m-option__control {
        width: 2.7rem;
        padding-top: 0.1rem
    }

        .m-option .m-option__control .m-radio {
            display: block
        }

    .m-option .m-option__label {
        width: 100%
    }

        .m-option .m-option__label .m-option__head {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between
        }

            .m-option .m-option__label .m-option__head .m-option__title {
                font-size: 1.1rem
            }

            .m-option .m-option__label .m-option__head .m-option__focus {
                font-size: 1.1rem;
                font-weight: 600
            }

        .m-option .m-option__label .m-option__body {
            display: block;
            padding-top: 0.7rem;
            font-size: .85rem
        }

    .m-option.m-option--plain {
        padding: 0;
        margin-top: -0.2rem;
        margin-bottom: 2rem;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

        .m-option.m-option--plain .m-option__control {
            vertical-align: middle;
            width: 2.7rem
        }

            .m-option.m-option--plain .m-option__control .m-radio {
                margin-bottom: 1.6rem
            }

        .m-option.m-option--plain .m-option__label .m-option__body {
            padding-top: 0.2rem
        }

.m-option {
    border: 1px solid #ebedf2
}

    .m-option .m-option__label .m-option__head .m-option__title {
        color: #3f4047
    }

    .m-option .m-option__label .m-option__head .m-option__focus {
        color: #3f4047
    }

    .m-option.m-option--plain {
        border: none
    }

.has-success .m-option .m-option__label .m-option__head .m-option__title {
    color: #34bfa3
}

.has-warning .m-option .m-option__label .m-option__head .m-option__title {
    color: #ffb822
}

.has-danger .m-option .m-option__label .m-option__head .m-option__title {
    color: #f4516c
}

