﻿.no-margin {
    margin-left:0px !important;
    margin-right: 0px !important;
}
.has-success .checkbox,
.has-success .checkbox-inline,
.has-success .control-label, .has-success
.form-control-feedback,
.has-success .help-block,
.has-success .radio,
.has-success .radio-inline,
.has-success.checkbox label,
.has-success.checkbox-inline label,
.has-success.radio label,
.has-success.radio-inline label {
    color: #333;
}
.has-success .form-control {
    border-color: #5cb85c;
}
.page-content-custom{
    margin-top:20px;
}
.no-decoration-custom{
    text-decoration:none !important;
}
.white-custom{
    background-color:#ffffff !important;
}
.mt-actions:after .mt-action:after .mt-action-body:after .mt-action-row:after .mt-action-datetime.mt-actions:after .mt-action:after .mt-action-body:after
.mt-action-row:after {
    content: "\174" !important;
}
.bootstrap-tagsinput input{
    max-width:none !important;
    width:920px !important;
}
.table-condensed tbody tr:hover {
    background: #ffffff !important;
}
.card-title {
    border-bottom : 1px solid #bebcbc;
    padding: 10px 0 10px 0;
    margin-bottom:25px;
}
.container-wrapper{
    padding:10px 10px 0 16px;
    margin-top:20px;
}
.select2-container .select2-selection--single{
    height:40px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height:40px !important;
}
.hidden-xs span{
    color: black !important;
}

.gj-datepicker-bootstrap [role=right-icon] button{
    height:38px !important;
}