﻿@model TruGoClassLibrary.ResponseClass.InvestorDashboardResponseModel
@{
    Layout = "~/Views/Shared/_TemplateLayout.cshtml";
}
<section id="overview">
    <div class="container">
        <div class="overview">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="overview-stat color-one">
                        <div class="stat">
                            <div class="stat-icon">
                                <i class="icofont icofont-chart-arrows-axis"></i>
                            </div>
                            <div class="title-num">
                                <h5>Total Invoices</h5>
                                @{
                                    if (Model == null)
                                    {
                                        <h2>0</h2>
                                    }
                                    else
                                    {
                                        <h2>&#8358;@Model.TotalInvoices</h2>

                                    }

                                }
                            </div>
                            <div class="description">
                                <p>description of value goes here.</p>
                            </div>
                        </div>
                    </div>
                    <div class="overview-stat color-two">
                        <div class="stat">
                            <div class="stat-icon">
                                <i class="icofont icofont-chart-flow-alt-1"></i>
                            </div>
                            <div class="title-num">
                                <h5>Pending Invoices</h5>
                                @{
                                    if (Model == null)
                                    {
                                        <h2>0</h2>

                                    }
                                    else
                                    {
                                        <h2>&#8358;@Model.PendingInvoices</h2>
                                    }
                                }
                            </div>
                            <div class="description">
                                <p>description of value goes here.</p>
                            </div>
                        </div>
                    </div>
                    <div class="overview-stat color-three">
                        <div class="stat">
                            <div class="stat-icon">
                                <i class="icofont icofont-pie-chart"></i>
                            </div>
                            <div class="title-num">
                                <h5>Total Earnings</h5>
                                @{
                                    if (Model == null)
                                    {
                                        <h2>0</h2>

                                    }
                                    else
                                    {
                                        <h2>&#8358;@Model.TotalEarnings</h2>
                                    }
                                }
                            </div>
                            <div class="description">
                                <p>description of value goes here.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="profile-overview">
                        <div class="profile-overview-header">
                            <div class="profile">
                                <img src="~/Content/template/img/profile/dashboard-profile.jpg" alt="">
                            </div>
                            <div class="details">
                                <p>Welcome back!</p>
                                <h5>#</h5>
                                <div class="details-btn">
                                    <a href="#" class="button-ymp simple">TruGo Investor</a>
                                </div>
                            </div>
                        </div>
                        @*<div class="set-up">
                                <p>Set up your TruGo account</p>
                                <div class="account-progress">
                                    <div class="progress-score">75%</div>
                                </div>
                            </div>*@
                        <div class="profile-grade">
                            <div class="grade-item">
                                <div class="grade-title">
                                    <p>
                                        <i class="icofont icofont-check-circled"></i>
                                        Invoices Bought
                                    </p>
                                </div>
                                <div class="grade-result">
                                    @{
                                        if (Model == null)
                                        {
                                            <span>0</span>

                                        }
                                        else
                                        {
                                            <span class="color-one">@Model.InvoicesBought</span>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="grade-item">
                                <div class="grade-title">
                                    <p>
                                        <i class="icofont icofont-money-bag"></i>
                                        Invoices Processed
                                    </p>
                                </div>
                                <div class="grade-result">
                                    @{
                                        if (Model == null)
                                        {
                                            <span>0</span>

                                        }
                                        else
                                        {
                                            <span class="color-two">@Model.InvoicesProcessed</span>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="grade-item">
                                <div class="grade-title">
                                    <p>
                                        <i class="icofont icofont-clock-time"></i>
                                        Credit Balance
                                    </p>
                                </div>
                                <div class="grade-result">
                                    @{
                                        if (Model == null)
                                        {
                                            <span>0</span>

                                        }
                                        else
                                        {
                                            <span class="color-three">&#8358;@Model.CreditBalance</span>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End -->
<!-- Banner Start -->
<section id="banner">
    <div class="container">
        <div class="banner">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="banner-bg row">
                        <div class="col-sm-12 col-md-8 col-lg-8">
                            <div class="banner-description mob-padding">
                                <h2>Introducing TruGo Invoice Market Place</h2>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                @*<a href="#" class="button-ymp">Update Membership Now</a>*@
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <div class="banner-image">
                                <div class="vertical-image">
                                    <img src="~/Content/template/img/banner/macbook.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End -->
<!-- In Progress Job Start -->
<section id="job-in-progress">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="db-table">
                    <div class="db-info-head">
                        <h4>Invoices In Progress</h4>
                        <h6><a href="#">View All In Progress Invoices</a></h6>
                    </div>
                    <div class="db-info-details table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Invoice Title</th>
                                    <th scope="col">Maturity Date</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Earnings</th>

                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (Model != null)
                                    {
                                        foreach (var item in Model.Invoices.Where(m => m.InvoiceStatus == "inprogress").ToList())
                                        {
                                            <tr>
                                                <td>@item.Title</td>
                                                <td>@item.MaturityDate</td>
                                                <td>&#8358;@item.Amount</td>
                                                <td>&#8358;@item.Earning</td>
                                            </tr>
                                        }
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 mobile-padding">
                <div class="db-table">
                    <div class="db-info-head">
                        <h4>Proccessed Invoices</h4>
                        <h6><a href="#">View All Proccessed Invoices</a></h6>
                    </div>
                    <div class="db-info-details table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Invoice Title</th>
                                    <th scope="col">Maturity Date</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Earnings</th>

                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (Model != null)
                                    {

                                        foreach (var item in Model.Invoices.Where(m => m.InvoiceStatus == "processed").ToList())
                                        {
                                            <tr>
                                                <td>@item.Title</td>
                                                <td>@item.MaturityDate</td>
                                                <td>&#8358;@item.Amount</td>
                                                <td>&#8358;@item.Earning</td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End -->
<!-- Earning & Payments Start -->
<section id="recent-jobs">
    <div class="container">
        <div class="recent-jobs">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="db-table">
                        <div class="db-info-head">
                            <h4>Top Selling Invoices</h4>
                            <h6><a href="#">View All Invoices</a></h6>
                        </div>
                        <div class="db-info-details table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Invoice Title</th>
                                        <th scope="col">Maturity Date</th>
                                        <th scope="col">Sale Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (Model != null)
                                        {
                                            foreach (var item in Model.Invoices.Where(m => m.InvoiceStatus == "topselling").ToList())
                                            {
                                                <tr>
                                                    <td>@item.Title</td>
                                                    <td>@item.MaturityDate</td>
                                                    <td>&#8358;@item.SalePrice</td>
                                                </tr>
                                            }
                                        }

                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End -->
<!-- Earning & Payments Start -->
<section id="earning-payments">
    <div class="container">
        <div class="earning-payments">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="chart">
                        <div class="chart-info">
                            <h4>Earning & Investments</h4>
                            <nav>
                                <div class="nav nav-tabs" id="myTab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-Month-tab" data-toggle="tab" href="#nav-Month" role="tab" aria-controls="nav-Month" aria-selected="true">Month</a>
                                    <a class="nav-item nav-link" id="nav-quarter-tab" data-toggle="tab" href="#nav-quarter" role="tab" aria-controls="nav-quarter" aria-selected="false">Quarter</a>
                                    <a class="nav-item nav-link" id="nav-half-year-tab" data-toggle="tab" href="#nav-half-year" role="tab" aria-controls="nav-half-year" aria-selected="false">Half Year</a>
                                    <a class="nav-item nav-link" id="nav-Year-tab" data-toggle="tab" href="#nav-Year" role="tab" aria-controls="nav-Year" aria-selected="false">Year</a>
                                </div>
                            </nav>
                        </div>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-Month" role="tabpanel" aria-labelledby="nav-Month-tab">
                                <canvas id="month"></canvas>
                            </div>
                            <div class="tab-pane fade" id="nav-quarter" role="tabpanel" aria-labelledby="nav-quarter-tab">
                                <canvas id="quarter"></canvas>
                            </div>
                            <div class="tab-pane fade" id="nav-half-year" role="tabpanel" aria-labelledby="nav-half-year-tab">
                                <canvas id="half-year"></canvas>
                            </div>
                            <div class="tab-pane fade" id="nav-Year" role="tabpanel">
                                <canvas id="year"></canvas>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End -->

<section id="invite-people">
    <div class="container">
        <div class="invite-people">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-sm-12 col-md-8 col-lg-8">
                            <div class="invite">
                                <h3 class="title">Invite your friends and earn $45!</h3>
                                <p>Send a $45 discount voucher to your friends and you will get $45 in cash when they complete their first project.</p>
                                <a href="#" class="button-ymp">Invite Your Friends</a>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <div class="earning">
                                <h4>Your Earning</h4>
                                <span>&#8358;90</span>
                            </div>
                        </div>
                    </div>
                    <div class="affiliate clearfix">
                        <p class="use-text">Use this link to refer new users</p>
                        <div class="affiliate-link">
                            <p class="text">https://www.thememom.com/?rfrd=1865162</p>
                            <button class="copy-link">Copy Link</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End -->
@{
    if (Model == null)
    {
        @Html.Partial("~/Views/Shared/_ModalsPartial.cshtml")

    }
    else
    {
        @Html.Partial("~/Views/Shared/_ModalsPartial.cshtml", Model.Notifications)

    }
}<!-- End -->
@section scripts{
    <script src="~/Content/template/js/vendor/chart.min.js"></script>
    <script src="~/Content/template/js/main.js"></script>
    <script src="~/Scripts/ApiCalls/Account/InvestorChartData.js"></script>
}
