﻿
@{
    ViewBag.Title = "AccountSettings";
    Layout = "~/Views/Shared/_TemplateLayout.cshtml";
}
@section styles{
    <link href="/Content/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/template/plugin/fileinput/css/fileinput.min.css" rel="stylesheet" />
}
<section id="overview">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa fa-settings"></i>TruGo Account Settings</h5>
                        <ul class="nav nav-pills nav-fill" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#personal-info" role="tab" aria-controls="pills-home" aria-selected="true">Personal Info</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#business-logo" role="tab" aria-controls="pills-profile" aria-selected="false">Update Business Logo</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#business-info" role="tab" aria-controls="pills-contact" aria-selected="false">Business Info</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#key-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Key Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#bank-info" role="tab" aria-controls="pills-contact" aria-selected="false">Bank Information</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="personal-info" role="tabpanel" aria-labelledby="pills-home-tab">
                                <div class="container-wrapper">
                                    <form role="form" action="#">
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label class="control-label">First Name</label>
                                                <input type="text" placeholder="First name" class="form-control">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Last Name</label>
                                                <input type="text" placeholder="Last name" class="form-control">
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Middle Name</label>
                                                <input type="text" placeholder="Middle name" class="form-control">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label">
                                                    Gender
                                                </label>
                                                <select class="form-control" name="gender">
                                                    <option value="">select</option>
                                                    <option value="male">Male</option>
                                                    <option value="female">Female</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="country" class="control-label">Country</label>
                                                <select name="country" id="country_list" class="form-control">
                                                    <option value=""></option>
                                                    <option value="AF">Afghanistan</option>
                                                    <option value="AL">Albania</option>
                                                    <option value="DZ">Algeria</option>
                                                    <option value="AS">American Samoa</option>
                                                    <option value="AD">Andorra</option>
                                                    <option value="AO">Angola</option>
                                                    <option value="AI">Anguilla</option>
                                                    <option value="AR">Argentina</option>
                                                    <option value="AM">Armenia</option>
                                                    <option value="AW">Aruba</option>
                                                    <option value="AU">Australia</option>
                                                    <option value="AT">Austria</option>
                                                    <option value="AZ">Azerbaijan</option>
                                                    <option value="BS">Bahamas</option>
                                                    <option value="BH">Bahrain</option>
                                                    <option value="BD">Bangladesh</option>
                                                    <option value="BB">Barbados</option>
                                                    <option value="BY">Belarus</option>
                                                    <option value="BE">Belgium</option>
                                                    <option value="BZ">Belize</option>
                                                    <option value="BJ">Benin</option>
                                                    <option value="BM">Bermuda</option>
                                                    <option value="BT">Bhutan</option>
                                                    <option value="BO">Bolivia</option>
                                                    <option value="BA">Bosnia and Herzegowina</option>
                                                    <option value="BW">Botswana</option>
                                                    <option value="BV">Bouvet Island</option>
                                                    <option value="BR">Brazil</option>
                                                    <option value="IO">British Indian Ocean Territory</option>
                                                    <option value="BN">Brunei Darussalam</option>
                                                    <option value="BG">Bulgaria</option>
                                                    <option value="BF">Burkina Faso</option>
                                                    <option value="BI">Burundi</option>
                                                    <option value="KH">Cambodia</option>
                                                    <option value="CM">Cameroon</option>
                                                    <option value="CA">Canada</option>
                                                    <option value="CV">Cape Verde</option>
                                                    <option value="KY">Cayman Islands</option>
                                                    <option value="CF">Central African Republic</option>
                                                    <option value="TD">Chad</option>
                                                    <option value="CL">Chile</option>
                                                    <option value="CN">China</option>
                                                    <option value="CX">Christmas Island</option>
                                                    <option value="CC">Cocos (Keeling) Islands</option>
                                                    <option value="CO">Colombia</option>
                                                    <option value="KM">Comoros</option>
                                                    <option value="CG">Congo</option>
                                                    <option value="CD">Congo, the Democratic Republic of the</option>
                                                    <option value="CK">Cook Islands</option>
                                                    <option value="CR">Costa Rica</option>
                                                    <option value="CI">Cote d'Ivoire</option>
                                                    <option value="HR">Croatia (Hrvatska)</option>
                                                    <option value="CU">Cuba</option>
                                                    <option value="CY">Cyprus</option>
                                                    <option value="CZ">Czech Republic</option>
                                                    <option value="DK">Denmark</option>
                                                    <option value="DJ">Djibouti</option>
                                                    <option value="DM">Dominica</option>
                                                    <option value="DO">Dominican Republic</option>
                                                    <option value="EC">Ecuador</option>
                                                    <option value="EG">Egypt</option>
                                                    <option value="SV">El Salvador</option>
                                                    <option value="GQ">Equatorial Guinea</option>
                                                    <option value="ER">Eritrea</option>
                                                    <option value="EE">Estonia</option>
                                                    <option value="ET">Ethiopia</option>
                                                    <option value="FK">Falkland Islands (Malvinas)</option>
                                                    <option value="FO">Faroe Islands</option>
                                                    <option value="FJ">Fiji</option>
                                                    <option value="FI">Finland</option>
                                                    <option value="FR">France</option>
                                                    <option value="GF">French Guiana</option>
                                                    <option value="PF">French Polynesia</option>
                                                    <option value="TF">French Southern Territories</option>
                                                    <option value="GA">Gabon</option>
                                                    <option value="GM">Gambia</option>
                                                    <option value="GE">Georgia</option>
                                                    <option value="DE">Germany</option>
                                                    <option value="GH">Ghana</option>
                                                    <option value="GI">Gibraltar</option>
                                                    <option value="GR">Greece</option>
                                                    <option value="GL">Greenland</option>
                                                    <option value="GD">Grenada</option>
                                                    <option value="GP">Guadeloupe</option>
                                                    <option value="GU">Guam</option>
                                                    <option value="GT">Guatemala</option>
                                                    <option value="GN">Guinea</option>
                                                    <option value="GW">Guinea-Bissau</option>
                                                    <option value="GY">Guyana</option>
                                                    <option value="HT">Haiti</option>
                                                    <option value="HM">Heard and Mc Donald Islands</option>
                                                    <option value="VA">Holy See (Vatican City State)</option>
                                                    <option value="HN">Honduras</option>
                                                    <option value="HK">Hong Kong</option>
                                                    <option value="HU">Hungary</option>
                                                    <option value="IS">Iceland</option>
                                                    <option value="IN">India</option>
                                                    <option value="ID">Indonesia</option>
                                                    <option value="IR">Iran (Islamic Republic of)</option>
                                                    <option value="IQ">Iraq</option>
                                                    <option value="IE">Ireland</option>
                                                    <option value="IL">Israel</option>
                                                    <option value="IT">Italy</option>
                                                    <option value="JM">Jamaica</option>
                                                    <option value="JP">Japan</option>
                                                    <option value="JO">Jordan</option>
                                                    <option value="KZ">Kazakhstan</option>
                                                    <option value="KE">Kenya</option>
                                                    <option value="KI">Kiribati</option>
                                                    <option value="KP">Korea, Democratic People's Republic of</option>
                                                    <option value="KR">Korea, Republic of</option>
                                                    <option value="KW">Kuwait</option>
                                                    <option value="KG">Kyrgyzstan</option>
                                                    <option value="LA">Lao People's Democratic Republic</option>
                                                    <option value="LV">Latvia</option>
                                                    <option value="LB">Lebanon</option>
                                                    <option value="LS">Lesotho</option>
                                                    <option value="LR">Liberia</option>
                                                    <option value="LY">Libyan Arab Jamahiriya</option>
                                                    <option value="LI">Liechtenstein</option>
                                                    <option value="LT">Lithuania</option>
                                                    <option value="LU">Luxembourg</option>
                                                    <option value="MO">Macau</option>
                                                    <option value="MK">Macedonia, The Former Yugoslav Republic of</option>
                                                    <option value="MG">Madagascar</option>
                                                    <option value="MW">Malawi</option>
                                                    <option value="MY">Malaysia</option>
                                                    <option value="MV">Maldives</option>
                                                    <option value="ML">Mali</option>
                                                    <option value="MT">Malta</option>
                                                    <option value="MH">Marshall Islands</option>
                                                    <option value="MQ">Martinique</option>
                                                    <option value="MR">Mauritania</option>
                                                    <option value="MU">Mauritius</option>
                                                    <option value="YT">Mayotte</option>
                                                    <option value="MX">Mexico</option>
                                                    <option value="FM">Micronesia, Federated States of</option>
                                                    <option value="MD">Moldova, Republic of</option>
                                                    <option value="MC">Monaco</option>
                                                    <option value="MN">Mongolia</option>
                                                    <option value="MS">Montserrat</option>
                                                    <option value="MA">Morocco</option>
                                                    <option value="MZ">Mozambique</option>
                                                    <option value="MM">Myanmar</option>
                                                    <option value="NA">Namibia</option>
                                                    <option value="NR">Nauru</option>
                                                    <option value="NP">Nepal</option>
                                                    <option value="NL">Netherlands</option>
                                                    <option value="AN">Netherlands Antilles</option>
                                                    <option value="NC">New Caledonia</option>
                                                    <option value="NZ">New Zealand</option>
                                                    <option value="NI">Nicaragua</option>
                                                    <option value="NE">Niger</option>
                                                    <option value="NG">Nigeria</option>
                                                    <option value="NU">Niue</option>
                                                    <option value="NF">Norfolk Island</option>
                                                    <option value="MP">Northern Mariana Islands</option>
                                                    <option value="NO">Norway</option>
                                                    <option value="OM">Oman</option>
                                                    <option value="PK">Pakistan</option>
                                                    <option value="PW">Palau</option>
                                                    <option value="PA">Panama</option>
                                                    <option value="PG">Papua New Guinea</option>
                                                    <option value="PY">Paraguay</option>
                                                    <option value="PE">Peru</option>
                                                    <option value="PH">Philippines</option>
                                                    <option value="PN">Pitcairn</option>
                                                    <option value="PL">Poland</option>
                                                    <option value="PT">Portugal</option>
                                                    <option value="PR">Puerto Rico</option>
                                                    <option value="QA">Qatar</option>
                                                    <option value="RE">Reunion</option>
                                                    <option value="RO">Romania</option>
                                                    <option value="RU">Russian Federation</option>
                                                    <option value="RW">Rwanda</option>
                                                    <option value="KN">Saint Kitts and Nevis</option>
                                                    <option value="LC">Saint LUCIA</option>
                                                    <option value="VC">Saint Vincent and the Grenadines</option>
                                                    <option value="WS">Samoa</option>
                                                    <option value="SM">San Marino</option>
                                                    <option value="ST">Sao Tome and Principe</option>
                                                    <option value="SA">Saudi Arabia</option>
                                                    <option value="SN">Senegal</option>
                                                    <option value="SC">Seychelles</option>
                                                    <option value="SL">Sierra Leone</option>
                                                    <option value="SG">Singapore</option>
                                                    <option value="SK">Slovakia (Slovak Republic)</option>
                                                    <option value="SI">Slovenia</option>
                                                    <option value="SB">Solomon Islands</option>
                                                    <option value="SO">Somalia</option>
                                                    <option value="ZA">South Africa</option>
                                                    <option value="GS">South Georgia and the South Sandwich Islands</option>
                                                    <option value="ES">Spain</option>
                                                    <option value="LK">Sri Lanka</option>
                                                    <option value="SH">St. Helena</option>
                                                    <option value="PM">St. Pierre and Miquelon</option>
                                                    <option value="SD">Sudan</option>
                                                    <option value="SR">Suriname</option>
                                                    <option value="SJ">Svalbard and Jan Mayen Islands</option>
                                                    <option value="SZ">Swaziland</option>
                                                    <option value="SE">Sweden</option>
                                                    <option value="CH">Switzerland</option>
                                                    <option value="SY">Syrian Arab Republic</option>
                                                    <option value="TW">Taiwan, Province of China</option>
                                                    <option value="TJ">Tajikistan</option>
                                                    <option value="TZ">Tanzania, United Republic of</option>
                                                    <option value="TH">Thailand</option>
                                                    <option value="TG">Togo</option>
                                                    <option value="TK">Tokelau</option>
                                                    <option value="TO">Tonga</option>
                                                    <option value="TT">Trinidad and Tobago</option>
                                                    <option value="TN">Tunisia</option>
                                                    <option value="TR">Turkey</option>
                                                    <option value="TM">Turkmenistan</option>
                                                    <option value="TC">Turks and Caicos Islands</option>
                                                    <option value="TV">Tuvalu</option>
                                                    <option value="UG">Uganda</option>
                                                    <option value="UA">Ukraine</option>
                                                    <option value="AE">United Arab Emirates</option>
                                                    <option value="GB">United Kingdom</option>
                                                    <option value="US">United States</option>
                                                    <option value="UM">United States Minor Outlying Islands</option>
                                                    <option value="UY">Uruguay</option>
                                                    <option value="UZ">Uzbekistan</option>
                                                    <option value="VU">Vanuatu</option>
                                                    <option value="VE">Venezuela</option>
                                                    <option value="VN">Viet Nam</option>
                                                    <option value="VG">Virgin Islands (British)</option>
                                                    <option value="VI">Virgin Islands (U.S.)</option>
                                                    <option value="WF">Wallis and Futuna Islands</option>
                                                    <option value="EH">Western Sahara</option>
                                                    <option value="YE">Yemen</option>
                                                    <option value="ZM">Zambia</option>
                                                    <option value="ZW">Zimbabwe</option>
                                                </select>
                                            </div>


                                            <div class="form-group col-md-6">
                                                <label class="control-label">
                                                    Address
                                                </label>
                                                <input type="text" class="form-control" placeholder="Address" name="address" />
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label class="control-label">
                                                    State
                                                </label>
                                                <input type="text" placeholder="State" class="form-control" name="state" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label">
                                                    City/Town
                                                </label>
                                                <input type="text" class="form-control" placeholder="City" name="city" />
                                            </div>
                                        </div>


                                        <div class="margiv-top-10">
                                            <a href="javascript:;" class="btn btn-primary"> Save Changes </a>
                                            <a href="javascript:;" class="btn btn-danger"> Cancel </a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="business-logo" role="tabpanel" aria-labelledby="pills-profile-tab">
                                <div class="container-wrapper">
                                    <p>
                                        Upload your business logo to gain more credibility when investors view your invoice
                                    </p>
                                    <form action="#" role="form">
                                        <div class="form-group">
                                            <input id="input-id" type="file" name="name=" input-b1"" class="file">

                                        </div>
                                        @*<div class="margin-top-10">
                                                <a href="javascript:;" class="btn btn-primary"> Submit </a>
                                                <a href="javascript:;" class="btn btn-danger"> Cancel </a>
                                            </div>*@
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="business-info" role="tabpanel" aria-labelledby="pills-contact-tab">
                                <div class="container-wrapper">
                                    <form action="#">
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label class="control-label">
                                                    Company Name
                                                </label>
                                                <input type="text" class="form-control" placeholder="xyz inc" name="companyname" />
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="control-label">Catrgory of Business</label>
                                                <select class="form-control" name="bank">
                                                    <option value="">select</option>
                                                    <option value="Limited liability">Limited Liability</option>
                                                    <option value="Sole proprietorship">Sole Proprietorship</option>
                                                    <option value="Others">Others</option>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label class="control-label">
                                                    Operating business address
                                                </label>
                                                <input type="text" class="form-control" placeholder="5th avenue" name="businessaddress" />
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="control-label">
                                                    Tax identification number
                                                </label>
                                                <input type="number" class="form-control" placeholder="my tin number" name="tinnumber" />
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label class="control-label">
                                                    Email address
                                                </label>
                                                <input type="text" class="form-control" placeholder="info@xyz.com" name="businessemail" />
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="control-label">
                                                    Phone number
                                                </label>
                                                <input type="number" class="form-control" placeholder="XYz inc" name="phonenumber" />
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="control-label">
                                                Website
                                            </label>
                                            <input type="text" class="form-control" placeholder="xyz.com" name="website" />
                                        </div>

                                        <div class="form-group">
                                            <div class="experience-level">
                                                <label class="info-title">Account Services</label>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-4 col-lg-4 xpbox">
                                                        <input class="form-control" name="optradio" id="entry" type="radio" value="1">
                                                        <label for="entry">
                                                            <div class="header">Email Alerts</div>
                                                            <div class="body">
                                                                Free
                                                            </div>
                                                        </label>
                                                    </div>
                                                    <div class="col-sm-12 col-md-4 col-lg-4 xpbox">
                                                        <input class="form-control" name="optradio" id="intermediate" type="radio" value="2">
                                                        <label for="intermediate">
                                                            <div class="header">SMS Alerts</div>
                                                            <div class="body">
                                                                Charges Apply
                                                            </div>
                                                        </label>
                                                    </div>
                                                    <div class="col-sm-12 col-md-4 col-lg-4 xpbox">
                                                        <input class="form-control" name="optradio" id="expert" type="radio" value="3">
                                                        <label for="expert">
                                                            <div class="header">Both</div>
                                                            <div class="body">
                                                               Charges Apply
                                                            </div>
                                                        </label>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>



                                        <div class="margin-top-10">
                                            <a href="javascript:;" class="btn btn-primary"> Save Changes </a>
                                            <a href="javascript:;" class="btn btn-danger"> Cancel </a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            
                            <div class="tab-pane fade" id="key-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                                <div class="container-wrapper">
                                    <form action="#">
                                        <div class="form-group">
                                            <label class="control-label">
                                                Full name
                                            </label>
                                            <input type="text" class="form-control" placeholder="Stanley Ekpunobi" name="businessaddress" />
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">
                                                Job Title
                                            </label>
                                            <input type="text" class="form-control" placeholder="Software developer" name="tinnumber" />
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">
                                                Email address
                                            </label>
                                            <input type="text" class="form-control" placeholder="info@xyz.com" name="businessemail" />
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">
                                                Phone number
                                            </label>
                                            <input type="number" class="form-control" placeholder="XYz inc" name="phonenumber" />
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">
                                                Residential address
                                            </label>
                                            <input type="number" class="form-control" placeholder="xyz.com" name="website" />
                                        </div>

                                        <div class="margin-top-10">
                                            <a href="javascript:;" class="btn btn-primary"> Save Changes </a>
                                            <a href="javascript:;" class="btn btn-danger"> Cancel </a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="bank-info" role="tabpanel" aria-labelledby="pills-contact-tab">
                                <div class="container-wrapper">
                                    <form action="#">

                                        <div class="form-group">
                                            <label class="control-label">Bank verification Number</label>
                                            <input type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="10" class="form-control">
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">Bank</label>
                                            <select class="form-control" name="bank">
                                                <option value="">select</option>
                                                <option value="access">Access Bank Plc</option>
                                                <option value="fidelity">Fidelity Bank Plc</option>
                                                <option value="fcmb">First City Monument Bank Plc</option>
                                                <option value="firstbank">First Bank of Nigeria Limited</option>
                                                <option value="gtb">Guaranty Trust Bank Plc</option>
                                                <option value="union bank">Union Bank of Nigeria Plc</option>
                                                <option value="uba">United Bank for Africa Plc</option>
                                                <option value="zenith">Zenith Bank Plc</option>
                                                <option value="citibank">Citibank Nigeria Limited</option>
                                                <option value="diamond bank">Diamond Bank Plc</option>
                                                <option value="eco bank">Ecobank Nigeria Plc</option>
                                                <option value="heritage bank">Heritage Bank</option>
                                                <option value="keystone bank">Keystone Bank Limited</option>
                                                <option value="polaris bank">Polaris Bank Limited</option>
                                                <option value="stanbic">Stanbic IBTC Bank Plc</option>
                                                <option value="standard chatered">Standard Chartered</option>
                                                <option value="sterlin bank">Sterling Bank Plc</option>
                                                <option value="unity bank">Unity Bank Plc</option>
                                                <option value="wema bank">Wema Bank Plc</option>
                                                <option value="suntrust">SunTrust Bank Nigeria Limited</option>
                                                <option value="providus">Providus Bank Limited</option>
                                                <option value="jaiz">Jaiz Bank Plc</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">Account type</label>
                                            <select class="form-control" name="gender">
                                                <option value="">select</option>
                                                <option value="savings">Savings</option>
                                                <option value="current">Current</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">Account name</label>
                                            <input type="text" class="form-control">
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">Account number</label>
                                            <input type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="10" class="form-control">
                                        </div>

                                        <!--end profile-settings-->
                                        <div class="margin-top-10">
                                            <a href="javascript:;" class="btn btn-primary"> Save Changes </a>
                                            <a href="javascript:;" class="btn btn-danger"> Cancel </a>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-10">
                    <div class="card-body">
                        <h5 class="card-title">Account settings tip to user</h5>
                        <p class="card-text">You can.....</p>
                        <a href="#" class="card-link">Link to doc or page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

@section scripts{
    <script src="~/Content/template/js/vendor/tether.min.js"></script>
    <script src="~/Content/template/js/vendor/popper.min.js"></script>
    <script src="~/Content/template/js/vendor/bootstrap.min.js"></script>
    <script src="~/Content/template/js/main.js"></script>
    <script src="/Content/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/Content/template/plugin/fileinput/js/plugins/piexif.min.js"></script>
    <script src="~/Content/template/plugin/fileinput/js/plugins/purify.min.js"></script>
    <script src="~/Content/template/plugin/fileinput/js/fileinput.min.js"></script>
    <script src="~/Content/template/plugin/fileinput/fa/theme.min.js"></script>

    <script>
        $("#country_list").select2({
            placeholder: "Select",
            allowClear: true,
            escapeMarkup: function (m) {
                return m;
            }
        });

    </script>

    <script>
        $("#input-id").fileinput(
            {
                'showUpload': true,
                'previewFileType': 'any',
                'showUploadedThumbs': true
            }
        );
    </script>

}