﻿
@{
    Layout = null;
}
<!DOCTYPE html>

<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <title>Trugo Online Invoice Retailer</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Trugo online invoice retailer" name="description" />
    <meta content="Trugo Inc" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="~/Content/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/custom/css/toastr.css" rel="stylesheet" />
    <link href="~/Content/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <link href="~/Content/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />

    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="~/Content/assets/global/css/components-md.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/Content/assets/global/css/plugins-md.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="~/Content/assets/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/Content/assets/layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/template/css/loader/css-loader.css" rel="stylesheet" />
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white page-md">
    <input type="hidden" value="@ViewBag.emailverified" id="msg" />
    <div id="loader" class="loader loader-default"></div>

    <div class="clearfix"> </div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <div class="row no-margin step-thin">
        <div class="col-md-8 col-md-offset-1">
            <!-- BEGIN CONTAINER -->
            <div class="page-container">
                <!-- BEGIN SIDEBAR -->
                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper">
                    <!-- BEGIN CONTENT BODY -->
                    <div class="page-content">
                        <!-- BEGIN LOGO -->
                        <div class="logo text-center">
                            <a href="#">
                                <img src="~/Content/assets/global/img/trugo-logo-trans.png" alt="Trugo Logo" width="200" />
                            </a>
                        </div>
                        <!-- END LOGO -->
                        <!-- BEGIN PAGE TITLE-->
                        <h3 class="form-title font-green text-center">Set up your TruGo Account</h3>

                        <!-- END PAGE TITLE-->
                        <!-- END PAGE HEADER-->


                        <div class="portlet light bordered" id="form_wizard_1">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class=" icon-layers font-blue-dark"></i>
                                    <span class="caption-subject font-blue-dark bold uppercase">
                                        @*TruGo Account Setup -*@
                                        <span class="step-title"> Step 1 of 4 </span>
                                    </span>
                                </div>

                            </div>
                            <div class="portlet-body form">

                                <form class="form-horizontal" id="submit_form" method="POST">
                                    <div class="form-wizard">
                                        <div class="form-body">
                                            <ul class="nav nav-pills nav-justified steps">
                                                <li>
                                                    <a href="#tab1" data-toggle="tab" class="step">
                                                        <span class="number">1</span>
                                                        <span class="desc">
                                                            <i class="fa fa-check"></i>Profile Setup
                                                        </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#tab2" data-toggle="tab" class="step">
                                                        <span class="number"> 2 </span>
                                                        <span class="desc">
                                                            <i class="fa fa-check"></i> Account Setup
                                                        </span>
                                                    </a>
                                                </li>
                                                <li id="w_no3">
                                                    <a href="#tab3" data-toggle="tab" class="step">
                                                        <span class="number"> 3 </span>
                                                        <span class="desc">
                                                            <i class="fa fa-check"></i> Other Details
                                                        </span>
                                                    </a>
                                                </li>
                                                <li id="w_no4">
                                                    <a href="#tab4" data-toggle="tab" class="step">
                                                        <span class="number">4</span>
                                                        <span class="desc">
                                                            <i class="fa fa-check"></i>
                                                            Identity Verification
                                                        </span>
                                                    </a>
                                                </li>
                                                <li id="w_no5">
                                                    <a href="#tab5" data-toggle="tab" class="step">
                                                        <span class="number"> 5 </span>
                                                        <span class="desc">
                                                            <i class="fa fa-check">
                                                            </i>
                                                            Confirm
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                            <div id="bar" class="progress progress-striped" role="progressbar">
                                                <div class="progress-bar progress-bar-success" style="background-color:#002c6d !important"> </div>
                                            </div>
                                            <div class="tab-content">
                                                @*<div class="alert alert-danger display-none">
                                                        <button class="close" data-dismiss="alert"></button> You have some form errors. Please check below.
                                                    </div>
                                                    <div class="alert alert-success display-none">
                                                        <button class="close" data-dismiss="alert"></button> Your form validation is successful!
                                                    </div>*@
                                                
                                                <div class="tab-pane active" id="tab1">
                                                    <h3 class="block">We want to know more about you</h3>

                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">
                                                            First Name
                                                        </label>
                                                        <div class="col-md-4">
                                                            <input type="text" class="form-control" id="txtfirstname" name="firstname" />

                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">
                                                            Last Name
                                                        </label>
                                                        <div class="col-md-4">
                                                            <input type="text" class="form-control" id="txtlastname" name="lastname" />

                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">
                                                            Middle Name
                                                        </label>
                                                        <div class="col-md-4">
                                                            <input type="text" class="form-control" id="txtmiddlename" name="middlename" />

                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">
                                                            Gender
                                                        </label>
                                                        <div class="col-md-4">
                                                            <select class="form-control" id="selectgender" name="gender">
                                                                <option value="">select</option>
                                                                <option value="male">Male</option>
                                                                <option value="female">Female</option>
                                                            </select>
                                                            <div id="form_gender_error"> </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="tab-pane" id="tab2">
                                                    <h3 class="block">Set up your business and sell unlimited invoices on TruGo</h3>
                                                    @*<div is="userrole">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">
                                                                Account Type
                                                            </label>
                                                            <div class="col-md-4">
                                                                <select class="form-control" id="selectrole" name="role">
                                                                    <option value="">select</option>
                                                                    <option value="seller">Seller</option>
                                                                    <option value="investor">Investor</option>
                                                                </select>
                                                                <div id="form_gender_error"> </div>
                                                            </div>
                                                        </div>
                                                    </div>*@
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">
                                                            Investor Type
                                                        </label>
                                                        <div class="col-md-4">
                                                            <select type="text" id="businesstype" class="form-control" name="businesstype">
                                                                <option value="">choose type</option>
                                                                <option value="individual">Individual</option>
                                                                <option value="corporate">Corporate</option>
                                                            </select>
                                                            <div id="form_businesstype_error"> </div>

                                                        </div>
                                                    </div>

                                                    <div id="businessnamefield">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">
                                                                Business Name
                                                            </label>
                                                            <div class="col-md-4">
                                                                <input type="text" class="form-control" id="businessname" name="businessname" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">
                                                            Phone Number
                                                        </label>
                                                        <div class="col-md-4">
                                                            <input class="form-control" id="mask_phone" name="phonenumber" type="text" placeholder="(234) 999-9999-999" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">
                                                            Address
                                                            <span class="required"> </span>
                                                        </label>
                                                        <div class="col-md-4">
                                                            <input type="text" class="form-control" id="txtaddress" name="address" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">
                                                            City/Town
                                                        </label>
                                                        <div class="col-md-4">
                                                            <input type="text" class="form-control" id="txtcity" name="city" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Country</label>
                                                        <div class="col-md-4">
                                                            <select name="country" id="country_list" class="form-control">
                                                                <option value=""></option>
                                                                <option value="AF">Afghanistan</option>
                                                                <option value="AL">Albania</option>
                                                                <option value="DZ">Algeria</option>
                                                                <option value="AS">American Samoa</option>
                                                                <option value="AD">Andorra</option>
                                                                <option value="AO">Angola</option>
                                                                <option value="AI">Anguilla</option>
                                                                <option value="AR">Argentina</option>
                                                                <option value="AM">Armenia</option>
                                                                <option value="AW">Aruba</option>
                                                                <option value="AU">Australia</option>
                                                                <option value="AT">Austria</option>
                                                                <option value="AZ">Azerbaijan</option>
                                                                <option value="BS">Bahamas</option>
                                                                <option value="BH">Bahrain</option>
                                                                <option value="BD">Bangladesh</option>
                                                                <option value="BB">Barbados</option>
                                                                <option value="BY">Belarus</option>
                                                                <option value="BE">Belgium</option>
                                                                <option value="BZ">Belize</option>
                                                                <option value="BJ">Benin</option>
                                                                <option value="BM">Bermuda</option>
                                                                <option value="BT">Bhutan</option>
                                                                <option value="BO">Bolivia</option>
                                                                <option value="BA">Bosnia and Herzegowina</option>
                                                                <option value="BW">Botswana</option>
                                                                <option value="BV">Bouvet Island</option>
                                                                <option value="BR">Brazil</option>
                                                                <option value="IO">British Indian Ocean Territory</option>
                                                                <option value="BN">Brunei Darussalam</option>
                                                                <option value="BG">Bulgaria</option>
                                                                <option value="BF">Burkina Faso</option>
                                                                <option value="BI">Burundi</option>
                                                                <option value="KH">Cambodia</option>
                                                                <option value="CM">Cameroon</option>
                                                                <option value="CA">Canada</option>
                                                                <option value="CV">Cape Verde</option>
                                                                <option value="KY">Cayman Islands</option>
                                                                <option value="CF">Central African Republic</option>
                                                                <option value="TD">Chad</option>
                                                                <option value="CL">Chile</option>
                                                                <option value="CN">China</option>
                                                                <option value="CX">Christmas Island</option>
                                                                <option value="CC">Cocos (Keeling) Islands</option>
                                                                <option value="CO">Colombia</option>
                                                                <option value="KM">Comoros</option>
                                                                <option value="CG">Congo</option>
                                                                <option value="CD">Congo, the Democratic Republic of the</option>
                                                                <option value="CK">Cook Islands</option>
                                                                <option value="CR">Costa Rica</option>
                                                                <option value="CI">Cote d'Ivoire</option>
                                                                <option value="HR">Croatia (Hrvatska)</option>
                                                                <option value="CU">Cuba</option>
                                                                <option value="CY">Cyprus</option>
                                                                <option value="CZ">Czech Republic</option>
                                                                <option value="DK">Denmark</option>
                                                                <option value="DJ">Djibouti</option>
                                                                <option value="DM">Dominica</option>
                                                                <option value="DO">Dominican Republic</option>
                                                                <option value="EC">Ecuador</option>
                                                                <option value="EG">Egypt</option>
                                                                <option value="SV">El Salvador</option>
                                                                <option value="GQ">Equatorial Guinea</option>
                                                                <option value="ER">Eritrea</option>
                                                                <option value="EE">Estonia</option>
                                                                <option value="ET">Ethiopia</option>
                                                                <option value="FK">Falkland Islands (Malvinas)</option>
                                                                <option value="FO">Faroe Islands</option>
                                                                <option value="FJ">Fiji</option>
                                                                <option value="FI">Finland</option>
                                                                <option value="FR">France</option>
                                                                <option value="GF">French Guiana</option>
                                                                <option value="PF">French Polynesia</option>
                                                                <option value="TF">French Southern Territories</option>
                                                                <option value="GA">Gabon</option>
                                                                <option value="GM">Gambia</option>
                                                                <option value="GE">Georgia</option>
                                                                <option value="DE">Germany</option>
                                                                <option value="GH">Ghana</option>
                                                                <option value="GI">Gibraltar</option>
                                                                <option value="GR">Greece</option>
                                                                <option value="GL">Greenland</option>
                                                                <option value="GD">Grenada</option>
                                                                <option value="GP">Guadeloupe</option>
                                                                <option value="GU">Guam</option>
                                                                <option value="GT">Guatemala</option>
                                                                <option value="GN">Guinea</option>
                                                                <option value="GW">Guinea-Bissau</option>
                                                                <option value="GY">Guyana</option>
                                                                <option value="HT">Haiti</option>
                                                                <option value="HM">Heard and Mc Donald Islands</option>
                                                                <option value="VA">Holy See (Vatican City State)</option>
                                                                <option value="HN">Honduras</option>
                                                                <option value="HK">Hong Kong</option>
                                                                <option value="HU">Hungary</option>
                                                                <option value="IS">Iceland</option>
                                                                <option value="IN">India</option>
                                                                <option value="ID">Indonesia</option>
                                                                <option value="IR">Iran (Islamic Republic of)</option>
                                                                <option value="IQ">Iraq</option>
                                                                <option value="IE">Ireland</option>
                                                                <option value="IL">Israel</option>
                                                                <option value="IT">Italy</option>
                                                                <option value="JM">Jamaica</option>
                                                                <option value="JP">Japan</option>
                                                                <option value="JO">Jordan</option>
                                                                <option value="KZ">Kazakhstan</option>
                                                                <option value="KE">Kenya</option>
                                                                <option value="KI">Kiribati</option>
                                                                <option value="KP">Korea, Democratic People's Republic of</option>
                                                                <option value="KR">Korea, Republic of</option>
                                                                <option value="KW">Kuwait</option>
                                                                <option value="KG">Kyrgyzstan</option>
                                                                <option value="LA">Lao People's Democratic Republic</option>
                                                                <option value="LV">Latvia</option>
                                                                <option value="LB">Lebanon</option>
                                                                <option value="LS">Lesotho</option>
                                                                <option value="LR">Liberia</option>
                                                                <option value="LY">Libyan Arab Jamahiriya</option>
                                                                <option value="LI">Liechtenstein</option>
                                                                <option value="LT">Lithuania</option>
                                                                <option value="LU">Luxembourg</option>
                                                                <option value="MO">Macau</option>
                                                                <option value="MK">Macedonia, The Former Yugoslav Republic of</option>
                                                                <option value="MG">Madagascar</option>
                                                                <option value="MW">Malawi</option>
                                                                <option value="MY">Malaysia</option>
                                                                <option value="MV">Maldives</option>
                                                                <option value="ML">Mali</option>
                                                                <option value="MT">Malta</option>
                                                                <option value="MH">Marshall Islands</option>
                                                                <option value="MQ">Martinique</option>
                                                                <option value="MR">Mauritania</option>
                                                                <option value="MU">Mauritius</option>
                                                                <option value="YT">Mayotte</option>
                                                                <option value="MX">Mexico</option>
                                                                <option value="FM">Micronesia, Federated States of</option>
                                                                <option value="MD">Moldova, Republic of</option>
                                                                <option value="MC">Monaco</option>
                                                                <option value="MN">Mongolia</option>
                                                                <option value="MS">Montserrat</option>
                                                                <option value="MA">Morocco</option>
                                                                <option value="MZ">Mozambique</option>
                                                                <option value="MM">Myanmar</option>
                                                                <option value="NA">Namibia</option>
                                                                <option value="NR">Nauru</option>
                                                                <option value="NP">Nepal</option>
                                                                <option value="NL">Netherlands</option>
                                                                <option value="AN">Netherlands Antilles</option>
                                                                <option value="NC">New Caledonia</option>
                                                                <option value="NZ">New Zealand</option>
                                                                <option value="NI">Nicaragua</option>
                                                                <option value="NE">Niger</option>
                                                                <option value="NG">Nigeria</option>
                                                                <option value="NU">Niue</option>
                                                                <option value="NF">Norfolk Island</option>
                                                                <option value="MP">Northern Mariana Islands</option>
                                                                <option value="NO">Norway</option>
                                                                <option value="OM">Oman</option>
                                                                <option value="PK">Pakistan</option>
                                                                <option value="PW">Palau</option>
                                                                <option value="PA">Panama</option>
                                                                <option value="PG">Papua New Guinea</option>
                                                                <option value="PY">Paraguay</option>
                                                                <option value="PE">Peru</option>
                                                                <option value="PH">Philippines</option>
                                                                <option value="PN">Pitcairn</option>
                                                                <option value="PL">Poland</option>
                                                                <option value="PT">Portugal</option>
                                                                <option value="PR">Puerto Rico</option>
                                                                <option value="QA">Qatar</option>
                                                                <option value="RE">Reunion</option>
                                                                <option value="RO">Romania</option>
                                                                <option value="RU">Russian Federation</option>
                                                                <option value="RW">Rwanda</option>
                                                                <option value="KN">Saint Kitts and Nevis</option>
                                                                <option value="LC">Saint LUCIA</option>
                                                                <option value="VC">Saint Vincent and the Grenadines</option>
                                                                <option value="WS">Samoa</option>
                                                                <option value="SM">San Marino</option>
                                                                <option value="ST">Sao Tome and Principe</option>
                                                                <option value="SA">Saudi Arabia</option>
                                                                <option value="SN">Senegal</option>
                                                                <option value="SC">Seychelles</option>
                                                                <option value="SL">Sierra Leone</option>
                                                                <option value="SG">Singapore</option>
                                                                <option value="SK">Slovakia (Slovak Republic)</option>
                                                                <option value="SI">Slovenia</option>
                                                                <option value="SB">Solomon Islands</option>
                                                                <option value="SO">Somalia</option>
                                                                <option value="ZA">South Africa</option>
                                                                <option value="GS">South Georgia and the South Sandwich Islands</option>
                                                                <option value="ES">Spain</option>
                                                                <option value="LK">Sri Lanka</option>
                                                                <option value="SH">St. Helena</option>
                                                                <option value="PM">St. Pierre and Miquelon</option>
                                                                <option value="SD">Sudan</option>
                                                                <option value="SR">Suriname</option>
                                                                <option value="SJ">Svalbard and Jan Mayen Islands</option>
                                                                <option value="SZ">Swaziland</option>
                                                                <option value="SE">Sweden</option>
                                                                <option value="CH">Switzerland</option>
                                                                <option value="SY">Syrian Arab Republic</option>
                                                                <option value="TW">Taiwan, Province of China</option>
                                                                <option value="TJ">Tajikistan</option>
                                                                <option value="TZ">Tanzania, United Republic of</option>
                                                                <option value="TH">Thailand</option>
                                                                <option value="TG">Togo</option>
                                                                <option value="TK">Tokelau</option>
                                                                <option value="TO">Tonga</option>
                                                                <option value="TT">Trinidad and Tobago</option>
                                                                <option value="TN">Tunisia</option>
                                                                <option value="TR">Turkey</option>
                                                                <option value="TM">Turkmenistan</option>
                                                                <option value="TC">Turks and Caicos Islands</option>
                                                                <option value="TV">Tuvalu</option>
                                                                <option value="UG">Uganda</option>
                                                                <option value="UA">Ukraine</option>
                                                                <option value="AE">United Arab Emirates</option>
                                                                <option value="GB">United Kingdom</option>
                                                                <option value="US">United States</option>
                                                                <option value="UM">United States Minor Outlying Islands</option>
                                                                <option value="UY">Uruguay</option>
                                                                <option value="UZ">Uzbekistan</option>
                                                                <option value="VU">Vanuatu</option>
                                                                <option value="VE">Venezuela</option>
                                                                <option value="VN">Viet Nam</option>
                                                                <option value="VG">Virgin Islands (British)</option>
                                                                <option value="VI">Virgin Islands (U.S.)</option>
                                                                <option value="WF">Wallis and Futuna Islands</option>
                                                                <option value="EH">Western Sahara</option>
                                                                <option value="YE">Yemen</option>
                                                                <option value="ZM">Zambia</option>
                                                                <option value="ZW">Zimbabwe</option>
                                                            </select>
                                                            <div id="form_country_error"> </div>

                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Industry</label>
                                                        <div class="col-md-4">
                                                            <select name="industry" id="industry_list" class="form-control">
                                                                <option value="">Select industry</option>
                                                                <option value="IT">Information Technology</option>
                                                                <option value="trading">Trade and Services</option>
                                                                <option value="consulting">Business Consulting</option>
                                                                <option value="agriculture">Agriculture</option>
                                                                <option value="chemical">Chemical</option>
                                                                <option value="pharmaceutical">Pharmaceutical</option>
                                                                <option value="computer">Computer</option>
                                                                <option value="construction">Construction</option>
                                                                <option value="education">Education</option>
                                                                <option value="power">Power</option>
                                                                <option value="oil and gas">Oil and Gas</option>
                                                                <option value="entertainment">Entertainment</option>
                                                                <option value="financial_services">Financial Services</option>
                                                                <option value="food">Food</option>
                                                                <option value="hospitality">Hospitality</option>
                                                                <option value="information">Information</option>
                                                                <option value="manufacturing">Manufacturing</option>
                                                                <option value="mining">Mining</option>
                                                                <option value="telecommunication">Telecommunicaation</option>
                                                                <option value="transport">Transport</option>
                                                                <option value="trading">Trading</option>
                                                                <option value="service">Service</option>
                                                                <option value="not listed">Not listed</option>
                                                            </select>
                                                            <div id="form_industry_error"> </div>

                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="tab-pane" id="tab3">
                                                    <h3 class="block">Let's know more about  your business</h3>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">
                                                            Major principal / client
                                                        </label>
                                                        <div class="col-md-4">
                                                            <input type="text" id="txtmajorprincipal" class="form-control" name="client" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">
                                                            Estimated Annual Revenue (&#8358;'Million)
                                                        </label>
                                                        <div class="col-md-4">
                                                            <input type="number" class="form-control" id="txtestimatedannualrevenue" name="annualrevenue" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">
                                                            How Long have you been in business(years)
                                                        </label>
                                                        <div class="col-md-4">
                                                            <input type="number" class="form-control" id="txtbusinessspan" name="businessspan" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">
                                                            Estimated Invoice Range
                                                        </label>
                                                        <div class="col-md-4">
                                                            <select type="text" class="form-control" id="selectinvoicerange" name="invoicerange">
                                                                <option value="">Select range</option>
                                                                <option value="0-200000 ">&#8358;0 - &#8358;200,000 </option>
                                                                <option value="200001-500000">&#8358;200,001 - &#8358;500,000</option>
                                                                <option value="500001-1000000">&#8358;500,001 - &#8358;1,000,000</option>
                                                                <option value="1000001-5000000">&#8358;1,000,001 - &#8358;5,000,000</option>
                                                                <option value="5000001-10000000">&#8358;5,000,001 - &#8358;10,000,000</option>
                                                                <option value="10000000 and above">&#8358;10,000,000 and above</option>

                                                            </select>
                                                            <div id="form_invoicerange_error"> </div>
                                                        </div>
                                                    </div>


                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">
                                                            How did you hear about us
                                                        </label>
                                                        <div class="col-md-4">
                                                            <select type="text" class="form-control" name="howdidyouhearaboutus" id="howdidyouhearaboutus">
                                                                <option value="">Select an option</option>
                                                                <option value="social">Social Media</option>
                                                                <option value="referral">Referral</option>
                                                                <option value="others">Others</option>
                                                            </select>
                                                            <br />
                                                            <input type="text" name="referralname" placeholder="Referral name" id="txtreferralname" class="form-control hidden" />

                                                            <div id="form_howdidyouhearaboutus_error"> </div>

                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="tab-pane" id="tab4">
                                                    <h3 class="block">
                                                        Upload supporting documents
                                                        <br />
                                                        <small class="text-warning">
                                                            <span class="text-warning">Note: Max file size for each document is 2MB</span>
                                                        </small>
                                                    </h3>

                                                    <div id="corporateidentification">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">Certificate of Incorporation</label>
                                                            <div class="col-md-3">
                                                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                                                    <div class="input-group input-large">
                                                                        <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                                                                            <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                                                            <span class="fileinput-filename"></span>
                                                                        </div>
                                                                        <span class="input-group-addon btn default btn-file">
                                                                            <span class="fileinput-new"> Select file </span>
                                                                            <span class="fileinput-exists"> Change </span>
                                                                            <input type="hidden" value="" name="..."><input type="file" name="coi">
                                                                        </span>
                                                                        <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput" style=""> Remove </a>
                                                                    </div>
                                                                </div>
                                                                <div id="form_coi_error"> </div>

                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">Particulars of Director</label>
                                                            <div class="col-md-3">
                                                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                                                    <div class="input-group input-large">
                                                                        <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                                                                            <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                                                            <span class="fileinput-filename"></span>
                                                                        </div>
                                                                        <span class="input-group-addon btn default btn-file">
                                                                            <span class="fileinput-new"> Select file </span>
                                                                            <span class="fileinput-exists"> Change </span>
                                                                            <input type="hidden" value="" name="..."><input type="file" name="pod">
                                                                        </span>
                                                                        <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput" style=""> Remove </a>
                                                                    </div>
                                                                </div>
                                                                <div id="form_pod_error"> </div>

                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">Memorandum of Understanding</label>
                                                            <div class="col-md-3">
                                                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                                                    <div class="input-group input-large">
                                                                        <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                                                                            <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                                                            <span class="fileinput-filename"></span>
                                                                        </div>
                                                                        <span class="input-group-addon btn default btn-file">
                                                                            <span class="fileinput-new"> Select file </span>
                                                                            <span class="fileinput-exists"> Change </span>
                                                                            <input type="hidden" value="" name="..."><input type="file" name="mou">
                                                                        </span>
                                                                        <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput" style=""> Remove </a>
                                                                    </div>
                                                                </div>
                                                                <div id="form_mou_error"> </div>

                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Means of Identification</label>
                                                        <div class="col-md-3">
                                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                                <div class="input-group input-large">
                                                                    <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                                                                        <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                                                        <span class="fileinput-filename"></span>
                                                                    </div>
                                                                    <span class="input-group-addon btn default btn-file">
                                                                        <span class="fileinput-new"> Select file </span>
                                                                        <span class="fileinput-exists"> Change </span>
                                                                        <input type="hidden" value="" name="">
                                                                        <input type="file" id="inputmeansofid" name="meansofid">
                                                                    </span>
                                                                    <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput" style=""> Remove </a>
                                                                </div>
                                                            </div>
                                                            <div id="form_meansofid_error"> </div>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="tab-pane" id="tab5">
                                                    <h3 class="block">Confirm your details</h3>
                                                    <h4 class="form-section">Profile Details</h4>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">First Name:</label>
                                                        <div class="col-md-4">
                                                            <p class="form-control-static" data-display="firstname"> </p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Last Name:</label>
                                                        <div class="col-md-4">
                                                            <p class="form-control-static" data-display="lastname"> </p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Gender:</label>
                                                        <div class="col-md-4">
                                                            <p class="form-control-static" data-display="gender"> </p>
                                                        </div>
                                                    </div>
                                                    <h4 class="form-section">Account Details</h4>


                                                    <div id="businessnameconfirmation">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">Business Name:</label>
                                                            <div class="col-md-4">
                                                                <p class="form-control-static" data-display="businessname"> </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Phone:</label>
                                                        <div class="col-md-4">
                                                            <p class="form-control-static" data-display="phonenumber"> </p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Address:</label>
                                                        <div class="col-md-4">
                                                            <p class="form-control-static" data-display="address"> </p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">City/Town:</label>
                                                        <div class="col-md-4">
                                                            <p class="form-control-static" data-display="city"> </p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Country:</label>
                                                        <div class="col-md-4">
                                                            <p class="form-control-static" data-display="country"> </p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Industry:</label>
                                                        <div class="col-md-4">
                                                            <p class="form-control-static" data-display="industry"> </p>
                                                        </div>
                                                    </div>

                                                    <div id="coporateotherdetailsconfirmation">
                                                        <h4 class="form-section">Other Details</h4>

                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">Annual Revenue:</label>
                                                            <div class="col-md-4">
                                                                <p class="form-control-static" data-display="annualrevenue"> </p>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">How long have you been In business:</label>
                                                            <div class="col-md-4">
                                                                <p class="form-control-static" data-display="businessspan"> </p>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">Invoice Range:</label>
                                                            <div class="col-md-4">
                                                                <p class="form-control-static" data-display="invoicerange"> </p>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">How did you hear about us:</label>
                                                            <div class="col-md-4">
                                                                <p class="form-control-static" data-display="howdidyouhearaboutus"> </p>
                                                            </div>
                                                        </div>

                                                        <div class="form-group hidden" id="referralnameconfirmation">
                                                            <label class="control-label col-md-3">Referral name:</label>
                                                            <div class="col-md-4">
                                                                <p class="form-control-static" data-display="referralname"></p>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">Major Pricipal/Client:</label>
                                                            <div class="col-md-4">
                                                                <p class="form-control-static" data-display="client"> </p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-offset-3 col-md-9">
                                                    <a href="javascript:;" class="btn default button-previous">
                                                        <i class="fa fa-angle-left"></i> Back
                                                    </a>
                                                    <a href="javascript:;" class="btn btn-outline btn-primary button-next">
                                                        Continue
                                                        <i class="fa fa-angle-right"></i>
                                                    </a>
                                                    <a href="#" id="accountsetupbtn" class="btn btn-primary button-submit">
                                                        Submit
                                                        <i class="fa fa-check"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        @*<div class="page-footer">
                <div class="page-footer-inner">
                    2019 &copy; Trugo Inc

                </div>
                <div class="scroll-to-top">
                    <i class="icon-arrow-up"></i>
                </div>
            </div>*@
    </div>
    <!-- END CONTENT -->
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <!-- END FOOTER -->
    <!-- BEGIN CORE PLUGINS -->
    <script src="~/Content/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    @*<script src="~/Content/assets/global/plugins/jquery-3.3.1.min.js" type="text/javascript"></script>*@
    <script src="~/Content/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>

    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/Content/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    @*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@

    <script src="~/Content/assets/custom/js/jquery.bootstrap.wizard.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <script src="~/Content/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>

    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="~/Content/assets/global/scripts/app.min.js" type="text/javascript"></script>

    <script src="~/Content/assets/pages/scripts/form-wizard.js" type="text/javascript"></script>

    <script src="~/Content/assets/layouts/layout/scripts/layout.js" type="text/javascript"></script>
    <script src="~/Content/assets/layouts/layout/scripts/demo.js" type="text/javascript"></script>
    <script src="/Content/assets/pages/scripts/form-input-mask.js" type="text/javascript"></script>

    <script src="~/Content/assets/custom/js/toastr.min.js"></script>
    <script src="~/Scripts/ApiCalls/Account/AccountSetup.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
        $("#mask_phone").focus(function () {
            $(this).val(this.value + "234");

        });
    </script>
    @*<script>
            $('.loader-inner').loaders();
        </script>*@
    <script>
        $(document).ready(function () {
            $("#howdidyouhearaboutus").change(function () {

                var hearaboutus = $("#howdidyouhearaboutus").val();
                console.log(hearaboutus);
                if (hearaboutus === 'referral') {
                    $("#txtreferralname").removeClass("hidden");
                }
                else {
                    $("#txtreferralname").addClass("hidden");

                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            var msg = $("#msg").val();
            if (msg.trim().length > 0 || msg !== undefined) {
                swal("TruGo!", "Account successfuly verified, Set up your TruGo profile");
            }
        });
    </script>
</body>

</html>
