﻿
@{
    ViewBag.Title = "Account Statement";
    Layout = "~/Views/Shared/_TemplateLayout.cshtml";
}
@*@section styles{
        <link href="~/Content/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    }*@
<!-- Quick Stats Start -->
<section id="quick-stats">
    <div class="container">
        <div class="quick-stats">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 ">
                    <div class="db-table">
                        <div class="db-info-head">
                            <h3>Quick Stats</h3>
                            <nav>
                                <div class="nav nav-tabs" role="tablist">
                                    @*<a class="nav-item nav-link active" id="nav-Freelancer-tab" data-toggle="tab" href="#nav-Freelancer" role="tab" aria-controls="nav-Freelancer" aria-selected="true">Employer </a>
                                        <a class="nav-item nav-link" id="nav-Employer-tab" data-toggle="tab" href="#nav-Employer" role="tab" aria-controls="nav-Employer" aria-selected="false">Freelancer</a>*@
                                </div>
                            </nav>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="nav-Freelancer" role="tabpanel" aria-labelledby="nav-Employer-tab">
                                <div class="row ipadfix">
                                    <div class="col-sm-12 col-md-4 col-lg-4">
                                        <div class="projects">
                                            <h5>Invoices Sold</h5>
                                            <div class="projects-recent">
                                                <h2>2</h2>
                                                <p>Past 30 Days</p>
                                            </div>
                                            <div class="projects-lifetime">
                                                <h2>5</h2>
                                                <p>Life time</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-5 col-lg-4">
                                        <div class="works">
                                            <h5>Invoices In Progress</h5>
                                            <div class="works-recent">
                                                <h2>&#8358;20</h2>
                                                <p>5 Active Invoices</p>
                                            </div>
                                            <div class="works-lifetime">
                                                <h2>&#8358;920</h2>
                                                <p>6 Pending Invoices</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-3 col-lg-4">
                                        <div class="complete">
                                            <h5>Total Processed Invoices</h5>
                                            <h2>102</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="tab-pane fade" id="nav-Employer" role="tabpanel" aria-labelledby="nav-quarter-tab">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-4 col-lg-4">
                                            <div class="projects">
                                                <h5>Project Posted</h5>
                                                <div class="projects-recent">
                                                    <h2>7</h2>
                                                    <p>Past 3o Days</p>
                                                </div>
                                                <div class="projects-lifetime">
                                                    <h2>65</h2>
                                                    <p>Life time</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-4 col-lg-4">
                                            <div class="works">
                                                <h5>Project Awarded</h5>
                                                <div class="works-recent">
                                                    <h2>4</h2>
                                                    <p>Past 3o Days</p>
                                                </div>
                                                <div class="works-lifetime">
                                                    <h2>50</h2>
                                                    <p>Life time</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-4 col-lg-4">
                                            <div class="complete">
                                                <h5>Award Rate</h5>
                                                <h2>96%</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End -->
<!-- Income Statement Start -->
<section id="income-stat">
    <div class="container">
        <div class="income-stat">
            <div class="row">
                <div class="com-sm-12 col-md-12 col-lg-12">
                    <div class="db-table">
                        <div class="db-info-head">
                            <h3>Financial Position</h3>
                            <div class="form-group">
                                <select class="custom-select financial-select" name="name">
                                    <option value="">One months</option>
                                    <option value="">Six months</option>
                                    <option value="">12 months</option>
                                </select>
                            </div>
                        </div>
                        <div class="income-statement-head">
                            <h4>Income Statement</h4>
                            <h6>Export: <a href="#">CSV</a> <a href="#">PDF</a></h6>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <div class="db-info-details income">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Income</th>
                                                <th scope="col">Approximation in &#8358; NGN <a href="#" data-toggle="tooltip" data-placement="right" title="tool tip text"><i class="icofont icofont-question-circle"></i></a></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Earnings</td>
                                                <td class="earnings">5410</td>
                                            </tr>
                                            <tr>
                                                <td>Other Income</td>
                                                <td class="other-income">405</td>
                                            </tr>

                                            <tr>
                                                <td>Gross Profit </td>
                                                <td class="gross-profit">27550</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <div class="db-info-details income">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Cash Statement</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Payment </td>
                                                <td class="payment">549</td>
                                            </tr>
                                            <tr>
                                                <td>Purchases</td>
                                                <td class="expenses">49</td>
                                            </tr>
                                            <tr>
                                                <td>Total Earnings</td>
                                                <td class="totalExpenses"></td>
                                            </tr>
                                            @*<tr>
                                                    <td>Operating Profit ( or Expenses )</td>
                                                    <td>0.00</td>
                                                </tr>*@
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="com-sm-12 col-md-6 col-lg-6">
                                <div class="db-info-head">
                                    <h5>Tax Expenses</h5>
                                </div>
                                <div class="db-info-details">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>Total Tax Expenses </td>
                                                <td>15,000</td>
                                            </tr>
                                            <tr>
                                                <td>Net Profit </td>
                                                <td>15,200</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <div class="db-info-details net-position">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">
                                                    <h5>Net Position</h5>
                                                </th>
                                                <th scope="col">
                                                    <h5>Approximation in &#8358; NGN<a href="#" data-toggle="tooltip" data-placement="right" title="tool tip text"><i class="icofont icofont-question-circle"></i></a></h5>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Cash Balance</td>
                                                <td>0.74</td>
                                            </tr>
                                            <tr>
                                                <td>Acounts Receivables</td>
                                                <td>91.07</td>
                                            </tr>
                                            <tr>
                                                <td>Total</td>
                                                <td>91.81</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End -->
<section id="manage-transection">
    <div class="container">
        <div class="manage-transection">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="db-table">
                        <div class="db-info-head">
                            <h3>Manage Transactions</h3>
                            <h6><a href="#">View All Milestones</a></h6>
                            <nav>
                                <div class="nav nav-tabs">
                                    <a class="nav-item nav-link active" data-toggle="tab" href="#nav-Request" aria-selected="false">Credit Request</a>
                                    <a class="nav-item nav-link" id="nav-Withdrawls-tab" data-toggle="tab" href="#nav-Withdrawls" aria-selected="false">Withdrawals</a>
                                    <a class="nav-item nav-link" id="nav-History-tab" data-toggle="tab" href="#nav-History" aria-selected="false">History</a>
                                    <a class="nav-item nav-link" id="nav-Affiliate-tab" data-toggle="tab" href="#nav-Affiliate" aria-selected="false">Affiliate Earnings</a>
                                </div>
                            </nav>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane active" id="nav-Request">
                                <div class="db-info-details table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Date</th>
                                                <th scope="col">Description</th>
                                                <th scope="col">Amount</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>24/03/2019</td>
                                                <td>Create an website training platform</td>
                                                <td>&#8358;<span class="mrequest-amount">1100.00</span></td>
                                                <td>In Progress</td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button class="btn btn-secondary btn-sm" type="button">
                                                            Action
                                                        </button>
                                                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                        </button>
                                                        <div class="dropdown-menu">

                                                            <a class="dropdown-item" href="#">Dispute</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>25/03/2019</td>
                                                <td>Create an web development platform</td>
                                                <td>&#8358;<span class="mrequest-amount">900.00</span></td>
                                                <td>In Progress</td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button class="btn btn-secondary btn-sm" type="button">
                                                            Action
                                                        </button>
                                                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                        </button>
                                                        <div class="dropdown-menu">

                                                            <a class="dropdown-item" href="#">Dispute</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>10/04/2019</td>
                                                <td>3D logo animation</td>
                                                <td>&#8358;<span class="mrequest-amount">120.00</span></td>
                                                <td>In Progress</td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button class="btn btn-secondary btn-sm" type="button">
                                                            Action
                                                        </button>
                                                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                        </button>
                                                        <div class="dropdown-menu">

                                                            <a class="dropdown-item" href="#">Dispute</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>19/09/2019</td>
                                                <td>Build 3 websites on Wordpress</td>
                                                <td>&#8358;<span class="mrequest-amount">300.00</span></td>
                                                <td>In Progress</td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button class="btn btn-secondary btn-sm" type="button">
                                                            Action
                                                        </button>
                                                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                        </button>
                                                        <div class="dropdown-menu">

                                                            <a class="dropdown-item" href="#">Dispute</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>Total</td>
                                                <td></td>
                                                <td>&#8358;<span class="total-mrequest"></span></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- Withdrawls -->
                            <div class="tab-pane fade" id="nav-Withdrawls">
                                <div class="db-info-details table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Date</th>
                                                <th scope="col">Description</th>
                                                <th scope="col">Amount</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>31/10/2019</td>
                                                <td>Website for car business</td>
                                                <td>&#8358;<span class="withdrawls-amount">1200.00</span></td>
                                                <td>In Progress</td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button class="btn btn-secondary btn-sm" type="button">
                                                            Action
                                                        </button>
                                                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                        </button>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item" href="#">Dispute</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>James Smith</td>
                                                <td>Rubi and rails Project</td>
                                                <td>&#8358;<span class="withdrawls-amount">2970.00</span></td>
                                                <td>In Progress</td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button class="btn btn-secondary btn-sm" type="button">
                                                            Action
                                                        </button>
                                                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                        </button>
                                                        <div class="dropdown-menu">

                                                            <a class="dropdown-item" href="#">Dispute</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Robart Smith</td>
                                                <td>Web Plugin Expert Required</td>
                                                <td>&#8358;<span class="withdrawls-amount">550.00</span></td>
                                                <td>In Progress</td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button class="btn btn-secondary btn-sm" type="button">
                                                            Action
                                                        </button>
                                                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                        </button>
                                                        <div class="dropdown-menu">

                                                            <a class="dropdown-item" href="#">Dispute</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>Total</td>
                                                <td></td>
                                                <td>&#8358;<span class="total-withdrawls"></span></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- Nav History -->
                            <div class="tab-pane fade" id="nav-History">
                                <div class="db-info-details table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Employer</th>
                                                <th scope="col">Project Name</th>
                                                <th scope="col">Amount</th>
                                                <th scope="col">Description</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Maria Rodriguez</td>
                                                <td>Digital Currency Trading System</td>
                                                <td>&#8358;<span class="history-amount">174.00</span></td>
                                                <td>Initial Milestone</td>
                                                <td>In Progress</td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button class="btn btn-secondary btn-sm" type="button">
                                                            Release
                                                        </button>
                                                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                        </button>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item" href="#">Ask Release</a>
                                                            <a class="dropdown-item" href="#">Cancel</a>
                                                            <a class="dropdown-item" href="#">Dispute</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Mary Smith</td>
                                                <td>Wordpress Theme Install</td>
                                                <td>&#8358;<span class="milestone-amount">20.00</span></td>
                                                <td>Milestone Two</td>
                                                <td>In Progress</td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button class="btn btn-secondary btn-sm" type="button">
                                                            Release
                                                        </button>
                                                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                        </button>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item" href="#">Ask Release</a>
                                                            <a class="dropdown-item" href="#">Cancel</a>
                                                            <a class="dropdown-item" href="#">Dispute</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Maria Hernandez</td>
                                                <td>3D logo design</td>
                                                <td>&#8358;<span class="history-amount">120.00</span></td>
                                                <td>Upon Complison</td>
                                                <td>In Progress</td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button class="btn btn-secondary btn-sm" type="button">
                                                            Release
                                                        </button>
                                                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                        </button>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item" href="#">Ask Release</a>
                                                            <a class="dropdown-item" href="#">Cancel</a>
                                                            <a class="dropdown-item" href="#">Dispute</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Xandra Wizmin</td>
                                                <td>Build 2 websites on Wordpress</td>
                                                <td>&#8358;<span class="history-amount">950.00</span></td>
                                                <td>Initial Milestone</td>
                                                <td>In Progress</td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button class="btn btn-secondary btn-sm" type="button">
                                                            Release
                                                        </button>
                                                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                        </button>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item" href="#">Ask Release</a>
                                                            <a class="dropdown-item" href="#">Cancel</a>
                                                            <a class="dropdown-item" href="#">Dispute</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Sophia Regina</td>
                                                <td>Create an online training platform</td>
                                                <td>&#8358;<span class="history-amount">250.00</span></td>
                                                <td>Mockup Milestone</td>
                                                <td>In Progress</td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button class="btn btn-secondary btn-sm" type="button">
                                                            Release
                                                        </button>
                                                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                        </button>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item" href="#">Ask Release</a>
                                                            <a class="dropdown-item" href="#">Cancel</a>
                                                            <a class="dropdown-item" href="#">Dispute</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Total</td>
                                                <td></td>
                                                <td>&#8358;<span class="total-history"></span></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- Affiliate Earning -->
                            <div class="tab-pane fade" id="nav-Affiliate">
                                <div class="db-info-details table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Employer</th>
                                                <th scope="col">Project Name</th>
                                                <th scope="col">Amount</th>
                                                <th scope="col">Description</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Sahinur Salafee</td>
                                                <td>Create an online training platform</td>
                                                <td>&#8358;<span class="affiliate-amount">2300.00</span></td>
                                                <td>Initial Milestone</td>
                                                <td>In Progress</td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button class="btn btn-secondary btn-sm" type="button">
                                                            Release
                                                        </button>
                                                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                        </button>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item" href="#">Ask Release</a>
                                                            <a class="dropdown-item" href="#">Cancel</a>
                                                            <a class="dropdown-item" href="#">Dispute</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Sasha Rose</td>
                                                <td>Wordpress Woocommerce Fix</td>
                                                <td>&#8358;<span class="affiliate-amount">400.00</span></td>
                                                <td>Milestone Two</td>
                                                <td>In Progress</td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button class="btn btn-secondary btn-sm" type="button">
                                                            Release
                                                        </button>
                                                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                        </button>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item" href="#">Ask Release</a>
                                                            <a class="dropdown-item" href="#">Cancel</a>
                                                            <a class="dropdown-item" href="#">Dispute</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Vaness Wille</td>
                                                <td>3D logo animation intro</td>
                                                <td>&#8358;<span class="affiliate-amount">500.00</span></td>
                                                <td>Upon Complison</td>
                                                <td>In Progress</td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button class="btn btn-secondary btn-sm" type="button">
                                                            Release
                                                        </button>
                                                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                        </button>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item" href="#">Ask Release</a>
                                                            <a class="dropdown-item" href="#">Cancel</a>
                                                            <a class="dropdown-item" href="#">Dispute</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Xandra Wizmin</td>
                                                <td>Build 2 websites on Wordpress</td>
                                                <td>&#8358;<span class="affiliate-amount">950.00</span></td>
                                                <td>Initial Milestone</td>
                                                <td>In Progress</td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button class="btn btn-secondary btn-sm" type="button">
                                                            Release
                                                        </button>
                                                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                        </button>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item" href="#">Ask Release</a>
                                                            <a class="dropdown-item" href="#">Cancel</a>
                                                            <a class="dropdown-item" href="#">Dispute</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Sophia Regina</td>
                                                <td>Create an online training platform</td>
                                                <td>&#8358;<span class="affiliate-amount">250.00</span></td>
                                                <td>Mockup Milestone</td>
                                                <td>In Progress</td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button class="btn btn-secondary btn-sm" type="button">
                                                            Release
                                                        </button>
                                                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="sr-only">Toggle Dropdown</span>
                                                        </button>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item" href="#">Ask Release</a>
                                                            <a class="dropdown-item" href="#">Cancel</a>
                                                            <a class="dropdown-item" href="#">Dispute</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Total</td>
                                                <td></td>
                                                <td>&#8358;<span class="total-affiliate"></span></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End -->
<!-- Profit Loss Start -->
<section id="profit-loss">
    <div class="container">
        <div class="earning-payments">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="chart  white-bg">
                        <div class="chart-info">
                            <h3>Profit & Loss</h3>
                            <nav>
                                <div class="nav nav-tabs" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-Month-tab" data-toggle="tab" href="#nav-Month" role="tab" aria-controls="nav-Month" aria-selected="true">Month</a>
                                    <a class="nav-item nav-link" id="nav-quarter-tab" data-toggle="tab" href="#nav-quarter" role="tab" aria-controls="nav-quarter" aria-selected="false">Quarter</a>
                                    <a class="nav-item nav-link" id="nav-half-year-tab" data-toggle="tab" href="#nav-half-year" role="tab" aria-controls="nav-half-year" aria-selected="false">Half Year</a>
                                    <a class="nav-item nav-link" id="nav-Year-tab" data-toggle="tab" href="#nav-Year" role="tab" aria-controls="nav-Year" aria-selected="false">Year</a>
                                    <a class="nav-item nav-link" id="nav-two-years-tab" data-toggle="tab" href="#nav-two-years" role="tab" aria-controls="nav-two-years" aria-selected="false">Two Years</a>
                                </div>
                            </nav>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="nav-Month" role="tabpanel" aria-labelledby="nav-Month-tab">
                                <canvas id="month"></canvas>
                            </div>
                            <div class="tab-pane fade" id="nav-quarter" role="tabpanel" aria-labelledby="nav-quarter-tab">
                                <canvas id="quarter"></canvas>
                            </div>
                            <div class="tab-pane fade" id="nav-half-year" role="tabpanel" aria-labelledby="nav-half-year-tab">
                                <canvas id="half-year"></canvas>
                            </div>
                            <div class="tab-pane fade" id="nav-Year" role="tabpanel">
                                <canvas id="year"></canvas>
                            </div>
                            <div class="tab-pane fade" id="nav-two-years" role="tabpanel" aria-labelledby="nav-two-years-tab">
                                <canvas id="two-years"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End -->
@Html.Partial("~/Views/Shared/_ModalsPartial.cshtml")

@section scripts{
    <script src="~/Content/template/js/vendor/font-awesome.js"></script>
    <script src="~/Content/template/js/vendor/tether.min.js"></script>
    <script src="~/Content/template/js/vendor/popper.min.js"></script>
    <script src="~/Content/template/js/vendor/jquery-3.3.1.slim.min.js"></script>
    <script src="~/Content/template/js/vendor/bootstrap.min.js"></script>
    <script src="~/Content/template/js/vendor/chart.min.js"></script>
    <script src="~/Content/template/js/chart.js"></script>
    <script src="~/Content/template/js/main.js"></script>
}
