﻿
@{
    Layout = null;
}
<!DOCTYPE html>

<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <title>Trugo Online Invoice Retailer</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Trugo online invoice retailer" name="description" />
    <meta content="Trugo Inc" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/template/css/vendor/bootstrap.min.css">
    <!-- Normalize -->
    <link rel="stylesheet" type="text/css" href="~/Content/template/css/vendor/normalize.css">
    <!-- Ico Font -->
    <link rel="stylesheet" type="text/css" href="~/Content/template/css/vendor/icofont/css/icofont.css">
    <!-- LOAD JQUERY LIBRARY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- REVOLUTION STYLE SHEETS -->
    <link rel="stylesheet" type="text/css" href="~/Content/template/revolution/css/settings.css">

    <link rel="stylesheet" type="text/css" href="~/Content/template/css/custom/style.css">
    <!-- Responsive Css -->
    <link rel="stylesheet" type="text/css" href="~/Content/template/css/custom/responsive.css">
    <!-- END THEME LAYOUT STYLES -->
    <link href="~/Content/template/css/custom/custom.css" rel="stylesheet" />
    <link href="~/Content/template/css/loader/css-loader.css" rel="stylesheet" />

    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->

<body>
    <div id="loader" class="loader loader-default"></div>
    <section id="overview">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-6">
                    <div class="login-bg">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title text-center">Sign in to TruGo</h3>
                                <div class="logo text-center">
                                    <img src="~/Content/assets/global/img/trugo-logo-trans.png" style="width:135px" alt="TruGo logo">
                                </div>
                                <div class="modal-body">
                                    <p>Sign In for <span class="italic">free</span> today!</p>
                                    <div class="btn-ymp">
                                        <div class="row">
                                            <div class="col-lg-6 my-3 my-md-0">
                                                <a id="#" href="#">Sign Up with Facebook</a>
                                            </div>
                                            <div class="col-lg-6 my-3 my-md-0">
                                                <a id="#" href="#">Sign Up with Google</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="or"><span>OR</span></div>
                                    <form>
                                        <input class="form-control" id="txtsigninemail" type="Email" placeholder="Email Address">
                                        <input class="form-control" id="txtsigninpassword" type="password" placeholder="Password">
                                        <input class="form-control" type="button" id="btnsignin" value="Sign In">
                                    </form>
                                </div>
                                <div class="modal-footer" style="display:block !important">
                                    <p class="text-center">New on TruGo? <span><a href="#" id="log-out" class="text-center">Sign Up</a></span></p>
                                    <p class="text-center">Forgot your password? <span><a href="#" data-toggle="modal" data-target="#forgot-password-page" class="text-center">Reset</a></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="modal">
        <div class="container">
            <!-- Modal One -->
            <div class="modal fade" id="sign-in-page" role="dialog" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content sign-up">
                        <div class="modal-header">
                            <div class="logo">
                                <img src="~/Content/assets/global/img/trugo-logo-trans.png" style="width:135px" alt="TruGo logo">
                            </div>
                            <button data-dismiss="modal" class="close">×</button>
                        </div>
                        <div class="modal-body">
                            <h4 class="py-3">Sign Up for <span class="italic">free</span> today!</h4>
                            <div class="btn-ymp">
                                <div class="row">
                                    <div class="col-md-6 my-3 my-md-0">
                                        <a id="btnfacebooksignup" href="#">Sign Up with Facebook</a>
                                    </div>
                                    <div class="col-md-6 my-3 my-md-0">
                                        <a id="btngooglesignup" href="#">Sign Up with Google</a>
                                    </div>
                                </div>
                                
                            </div>
                        
                            <div class="or">OR</div>
                            <form>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input class="form-control" type="email" id="txtemail" placeholder="Email Address">
                                        </div>
                                        <div class="col-md-12">
                                            <input class="form-control" type="password" id="txtpassword" placeholder="Password">
                                        </div>
                                        <div class="col-md-12">
                                            <input class="form-control" type="password" id="txtconfirmpassword" placeholder="Confirm Password">
                                        </div>
                                        <div class="col-md-12">
                                            <div class="radio-btn" style="width: 95%">
                                                <div class="row">
                                                    <div class="col-md-6 text-center">
                                                        <label>
                                                            <input type="radio" name="selector" value="seller"> Seller
                                                        </label>
                                                    </div>
                                                    <div class="col-md-6 text-center">
                                                        <label>
                                                            <input type="radio" name="selector" value="investor"> Investor
                                                        </label>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              
                                <input class="form-control" id="btncreateaccount" type="button" value="Create Account">

                            </form>
                            <div class="form-content">
                                <p>By registering you confirm that you accept the <span><a href="#">Terms and Conditions</a></span> and <span><a href="#">Privacy Policy</a></span>.</p>
                                <p>By registering you apply for the opening of TruGo account and agree to <span><a href="#">Declaration Policy</a></span>.</p>
                            </div>


                        </div>
                        <div class="modal-footer">

                            <p>Already a TruGo member? <span><a href="#" data-dismiss="modal">Log In</a></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Two -->
            <div class="modal fade" id="forgot-password-page" role="dialog" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content sign-in">
                        <div class="modal-header">
                            <div class="logo">
                                <img src="~/Content/assets/global/img/trugo-logo-trans.png" style="width:135px" alt="TruGo logo">
                            </div>
                            <button data-dismiss="modal" class="close">×</button>
                        </div>
                        <div class="modal-body">
                            <p>Reset your TruGo password</p>

                            <form>
                                <input class="form-control" type="email" id="txtresetemail" placeholder="Email Address">
                                <button class="form-control" type="button" id="btnresetpassword">Reset</button>
                            </form>

                        </div>
                        @*<div class="modal-footer" style="display:block !important">
                            <a href="#" data-dismiss="modal" class="text-center btn btn-danger">Cancel</a>
                        </div>*@
                    </div>
                </div>
            </div>

        </div>
    </section>
    <footer id="footer" class="margin-top">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <h4 class="widget-title">About Us</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <h4 class="widget-title">Quick Links</h4>
                        <ul>
                            <li><a href="#">Success stories</a></li>
                            <li><a href="#">Take the first Step</a></li>
                            <li><a href="#">Get started in minutes</a></li>
                            <li><a href="#">Featured on</a></li>
                            <li><a href="#">Top 5 freelancers</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <h4 class="widget-title">Support</h4>
                        <ul>
                            <li><a href="#">Live chat</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Support HQ</a></li>
                            <li><a href="#">Trust & Safety</a></li>
                            <li><a href="#">Submit a Ticket</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <h4 class="widget-title">Get In Touch</h4>
                        <div class="contact">
                            <ul>
                                <li>
                                    <i class="icofont icofont-iphone"></i>
                                    <a href="tel:+8801717722179">+880 1717 722179</a>
                                </li>
                                <li>
                                    <i class="icofont icofont-send-mail"></i>
                                    <a href="mailto:hq@thememom.com">info@trugo.com</a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-inline">
                            <ul class="social-icons">
                                <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                                @*<li><a href="#"><i class="icofont icofont-social-skype"></i></a></li>
                                    <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>*@
                                <li><a href="#"><i class="icofont icofont-brand-linkedin"></i></a></li>
                                @*<li><a href="#"><i class="icofont icofont-youtube-play"></i></a></li>
                                    <li><a href="#"><i class="icofont icofont-social-tumblr"></i></a></li>
                                    <li><a href="#"><i class="icofont icofont-social-pinterest"></i></a></li>*@
                            </ul>
                            <ul class="applicategoriesion-store">
                                <li><a href="#"><img src="~/content/template/img/store/app-store.png" alt=""></a></li>
                                <li><a href="#"><img src="~/content/template/img/store/play-store.png" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <p class="copyright">© 2019 <a href="https://www.trugo.com" title="TruGo" target="_blank">TruGo</a> </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End -->
    <script src="~/Content/template/js/vendor/tether.min.js"></script>
    <script src="~/Content/template/js/vendor/popper.min.js"></script>
    <script src="~/Content/template/js/vendor/bootstrap.min.js"></script>
    <script src="~/Content/template/js/pop-up.js"></script>
    <script src="~/Scripts/ApiCalls/Account/SignUp.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>