﻿
@{
    ViewBag.Title = "PurchaseCredit";
    Layout = "~/Views/Shared/_TemplateLayout.cshtml";
}
<section id="overview">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa fa-credit-card"></i> Purchase Credit</h5>
                        <form role="form">
                            <div class="form-group">
                                <label for="creditpurchaseoptions">Credit Purchase Type</label>
                                <select type="text" class="form-control" id="creditpurchase" name="creditpurchaseoptions">
                                    <option value="">Select an option</option>
                                    <option value="interbank">Interbank transfer</option>
                                    <option value="bankdeposite">Bank deposit</option>
                                    <option value="others">Others</option>

                                </select>
                            </div>

                            <div id="interbanktrans" class="d-none">
                                <div class="form-group">
                                    <label for="duedate">Date paid</label>
                                    <input type="text" name="duedate" id="date_control" class="form-control date-picker" placeholder="Date paid">
                                </div>

                                <div class="form-group">
                                    <label class="control-label" for="amount">
                                        Amount
                                    </label>
                                    <input type="number" id="txtpurchasecreditamount" class="form-control" name="amount" />
                                </div>

                                <div class="form-group">
                                    <label class="control-label" for="reference">
                                        Payment refrerence
                                    </label>
                                    <input type="text" class="form-control" id="txtpaymentreference" name="reference" />
                                </div>
                            </div>

                            <div id="others" class="d-none">

                                <div class="form-group">
                                    <label class="">
                                        <span class="">
                                            <span class="">
                                                <input type="radio" name="m_option_1" value="1">
                                                <span></span>
                                            </span>
                                        </span>
                                        <span class="">
                                            <span class="">
                                                <span class="">
                                                    Pay with Paystack
                                                </span>
                                                <img class="img-responsive" style="cursor:pointer" src="~/Content/assets/custom/img/paystack.png" />


                                            </span>

                                        </span>
                                    </label>
                                </div>

                                @*<div class="form-group">

                                        <img class="img-responsive" style="cursor:pointer" src="~/Content/assets/custom/img/paystack.png" />
                                    </div>*@
                            </div>


                            <div class="form-actions" id="saveoptions">
                                <button type="button" id="btnsubmit" class="btn btn-primary">Submit</button>
                                <button type="button" class="btn btn-default">Cancel</button>
                            </div>

                        </form>
                    </div>
                </div>
                <!-- END SAMPLE FORM PORTLET-->
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Purchase Credit Tips</h5>
                        <p class="card-text">You can.....</p>
                        <a href="#" class="card-link">Link to doc or page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts {

    <script src="~/Scripts/ApiCalls/Account/CreditRequest.js"></script>
}
