﻿
@{
    ViewBag.Title = "WithdrawCredit";
    Layout = "~/Views/Shared/_TemplateLayout.cshtml";
}
@section styles{
    <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />

}
<section id="overview">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- BEGIN SAMPLE FORM PORTLET-->
                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title"><i class="fa fa-credit-card"></i> Withdraw Credit</h5>

                        <form role="form">

                            <div class="form-body">

                                <div class="form-group">
                                    <label class="control-label">
                                        &#8358; Amount
                                    </label>
                                    <input type="number" id="txtwithdrawamount" class="form-control" name="amount" />
                                </div>

                            </div>


                            <div class="form-group">
                                <label for="invoicetitle">Withdrawal date</label>
                                <input type="text" name="duedate" id="duedate" class="form-control date-picker">
                            </div>

                            <span>
                                <small>Note:Withdrawal request initiated on weekend or public holiday will be processed on the the next working day</small>
                            </span>

                            <div class="form-actions" id="saveoptions">
                                <button type="button" id="btnsubmit" class="btn btn-primary">Submit</button>
                                <button type="button" class="btn default">Cancel</button>
                            </div>

                        </form>
                    </div>
                </div>
                <!-- END SAMPLE FORM PORTLET-->
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Withdraw Credit Tips</h5>
                        <p class="card-text">You can.....</p>
                        <a href="#" class="card-link">Link to doc or page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts
{
<script src="~/Scripts/ApiCalls/Account/WithdrawCredit.js"></script>
}
