﻿@using PagedList.Mvc
@model  PagedList.IPagedList<TruGoClassLibrary.ResponseClass.InvoiceResponseModel>
@{
    ViewBag.Title = "Invoices";
    Layout = "~/Views/Shared/_TemplateLayout.cshtml";
}
@section styles{
    <link rel='stylesheet' href='~/Content/template/css/vendor/jquery-ui.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
}
<section id="search-by-types">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="search-job-sidebar">
                    <div class="all">
                        <h6><i class="icofont icofont-earth"></i>Filter invoices</h6>
                    </div>
                    @using (Html.BeginForm("Invoices", "Marketplace", FormMethod.Post))
                    {

                        <div class="options">

                            <div class="row">
                                <div class="form-row">
                                    <div class="form-group col-sm-6">
                                        <label class="title">Invoice range (min)</label>
                                        <input type="number" name="Invoicemin" placeholder="0" class="form-control" />

                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="title">Invoice range (max)</label>

                                        <input type="number" name="Invoicemax" placeholder="10000000" class="form-control" />
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <label class="title">Discount</label>

                                        <input type="number" placeholder="10" name="Discount" class="form-control" />
                                    </div>

                                    <div class="form-group col-sm-12">
                                        <label for="invoicetitle">Select date</label>
                                        <input type="text" name="Date" class="form-control date-picker" id="invoiceduedate" placeholder="Invoice date">
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-primary">Search</button>
                                    <button type="button" class="btn default">Clear</button>
                                </div>
                            </div>

                        </div>
                    }

                </div>
            </div>
            <div class="col-sm-12 col-md-8 col-lg-8">
                <div class="search-freelancer">
                    <div class="search-form">
                        @using (Html.BeginForm("Invoices", "Marketplace", FormMethod.Post))
                        {
                            <input type="search" name="SearchTerm" class="form-control" placeholder="Any invoice title">
                            <p>@Model.Count() Result(s)</p>

                            <button type="submit" id="searchbutton" class="btn button-ymp">Search</button>
                        }
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>

                                @{
                                    foreach (var invoice in Model)
                                    {
                                        <tr>


                                            <td>
                                                <div class="freelancers">

                                                    <div class="freelancer-details">
                                                        <h6 class="name">@invoice.InvoiceTitle</h6>
                                                        <p>@invoice.Comment</p>
                                                        <ul class="category">
                                                            <li><small>Invoice amount:&#8358;@invoice.Amount</small></li>

                                                            <li><small>Discount rate:@invoice.DiscountRate</small></li>
                                                            <li><small>Sale price:&#8358;@invoice.SalePrice</small></li>
                                                            <li><small>Due date: @invoice.DueDate.ToShortDateString()</small></li>

                                                        </ul>

                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <ul class="buttons">

                                                    <li><a href="/Marketplace/ViewInvoice?invoiceid=@invoice.Id&code=@invoice.InvoiceGuid" class="button-ymp">View</a></li>


                                                    <li><a href="/Marketplace/PurchaseInvoice?invoiceid=@invoice.Id&code=@invoice.InvoiceGuid" target="_blank" class="button-ymp hire-color">Buy</a></li>

                                                </ul>
                                            </td>
                                        </tr>
                                    }
                                }


                            </tbody>
                        </table>
                    </div>
                    <div class="posts clearfix">
                        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                        of @Model.PageCount

                        <div class="pagination-tm">
                            <ul>

                                <li>@Html.PagedListPager(Model, page => Url.Action("Invoices", new { page }))</li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{

    <script src="~/Content/template/js/vendor/tether.min.js"></script>
    <script src="~/Content/template/js/vendor/popper.min.js"></script>
    <script src="~/Content/template/js/vendor/bootstrap.min.js"></script>
    <script src="~/Content/template/js/main.js"></script>
    <script src="~/Content/template/plugin/taginput/js/tagsinput.js"></script>
    <script src="~/Content/template/plugin/fileinput/js/fileinput.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>

    <script>
        $('#invoiceduedate').datepicker({
            uiLibrary: 'bootstrap4'
        });
    </script>
}
