﻿@model TruGoClassLibrary.ResponseClass.InvoiceDetailResponseModel
@{
    ViewBag.Title = "TruGo Purchase invoice";
    Layout = "~/Views/Shared/_TemplateLayout.cshtml";
}
<section id="overview">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title"><i class="fa fa-credit-card"></i> Purchase Invoice</h5>

                        <form>
                            <input type="hidden" id="invoiceid" value="@Model.Invoice.Id" />
                            <input type="hidden" id="invoicecode" value="@Model.Invoice.InvoiceGuid" />
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="invoicenumber">Invoice Number</label>
                                                <input type="text" readonly name="invoicenumber" value="@Model.Invoice.InvoiceNumber" class="form-control" placeholder="Invoice Number">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="invoicetitle">Invoice title</label>
                                                <input type="text" readonly name="invoicetitle" value="@Model.Invoice.InvoiceTitle" class="form-control" placeholder="Invoice Title">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="client">Client</label>
                                                <input type="text" name="client" class="form-control" value="@Model.Invoice.Client" readonly placeholder="Client">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>
                                                    Sale price
                                                </label>
                                                <input type="number" class="form-control" value="@Model.Invoice.SalePrice" id="txtinvoicesaleprice" placeholder="Sale price" readonly name="saleprice" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="invoicetitle">Invoice date</label>
                                                <input type="text" name="invoicetitle" class="form-control" value="@Model.Invoice.InvoiceDate.Date.ToShortDateString()" readonly placeholder="Invoice date">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="invoicetitle">Due date</label>
                                                <input type="text" name="duedate" value="@Model.Invoice.DueDate.Date.ToShortDateString()" class="form-control" readonly placeholder="Due date">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>
                                                    Invoice amount
                                                </label>
                                                <input type="number" class="form-control" value="@Model.Invoice.Amount" id="txtinvoiceamount" name="invoicetitle" readonly placeholder="200000" />
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>
                                                    Discount rate %
                                                </label>
                                                <input type="number" max="100" class="form-control" value="@Model.Invoice.DiscountRate" id="txtinvoicedisc" readonly placeholder="5" name="discountsale" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>
                                                    Total Purchase
                                                </label>
                                                <input type="number" class="form-control" id="txtinvoiceamount" value="@Model.Payments.Sum(m => m.Amount)" name="invoicetitle" readonly placeholder="200000" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>
                                                    Sale price
                                                </label>
                                                @*@{
                                                    var balance = Model.Invoice.SalePrice - Model.Payments.Sum(m => m.Amount);

                                                }*@
                                                <input type="number" max="100" class="form-control" id="txtinvoicebalance" value="@Model.Invoice.SalePrice" readonly placeholder="500" name="discountsale" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>
                                                    Purchase Amount
                                                </label>
                                                <input type="number" required max="100" class="form-control" id="txtinvoicepurchaseamt" placeholder="1000" name="discountsale" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>
                                                    Purchase Percentage
                                                </label>
                                                <input type="number" required max="100" value="0" class="form-control" id="txtinvoicepurchasedisc" placeholder="100" name="discountsale" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>
                                                    Profit
                                                </label>
                                                <input type="number" max="100" class="form-control" readonly id="txtpurchaseprofit" placeholder="1000" name="discountsale" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            Purchase Count
                                            <span class="badge badge-default"> @Model.Payments.Count() </span>
                                        </li>
                                        <li class="list-group-item">
                                            Last Purchase Date
                                            @{
                                                if (Model.Payments.Count() > 0)
                                                {
                                                    <span class="badge badge-success"> @Model.Payments.OrderByDescending(m => m.Id).FirstOrDefault().Date_Created.Date </span>

                                                }
                                                else
                                                {
                                                    <span class="badge badge-success"></span>

                                                }
                                            }
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="button" id="btnpurchaseinvoice" class="btn btn-primary">Purchase</button>
                                <button type="button" class="btn default">Cancel</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-10">
                    <div class="card-body">
                        <h5 class="card-title">Purchase Invoice Tips</h5>
                        <p class="card-text">You can.....</p>
                        <a href="#" class="card-link">Link to doc or page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts
{
    <script src="~/Content/template/js/vendor/tether.min.js"></script>
    <script src="~/Content/template/js/vendor/popper.min.js"></script>
    <script src="~/Content/template/js/vendor/bootstrap.min.js"></script>
    <script src="~/Content/template/js/main.js"></script>
    @*<script src="~/Content/template/js/purchaseinvoice.js"></script>*@
    <script src="~/Scripts/ApiCalls/Invoices/PurchaseInvoice.js"></script>
}
