﻿
@{
    ViewBag.Title = "Raise Invoice Dispute";
    Layout = "~/Views/Shared/_TemplateLayout.cshtml";
}
<section id="dispute-page">
    <div class="container">
        <div class="dispute">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h3 class="project-name">Invoice Title: INvoice from XYZ company</h3>
                    <h5>Dispute by: Username(active)</h5>
                    <div class="get-started-wrapper">
                        <div class="row">
                            <div class="col-sm-12 col-md-3 col-lg-3 mobile-padding">
                                <img src="~/Content/template/img/dispute/dispute-1.png" alt="">
                                <p class="bar-ymp"></p>
                                <h3 class="stage"><a href="#">Stage 1</a></h3>
                                <p>Identify The Issue</p>
                            </div>
                            <div class="col-sm-12 col-md-3 col-lg-3 mobile-padding">
                                <img src="~/Content/template/img/dispute/dispute-2.png" alt="">
                                <p class="bar-ymp"></p>
                                <h3 class="stage"><a href="#">Stage 2</a></h3>
                                <p>Negotiations</p>
                            </div>
                            <div class="col-sm-12 col-md-3 col-lg-3 mobile-padding">
                                <img src="~/Content/template/img/dispute/dispute-3.png" alt="">
                                <p class="bar-ymp"></p>
                                <h3 class="stage"><a href="#">Stage 3</a></h3>
                                <p>Final Offers/Evidence</p>
                            </div>
                            <div class="col-sm-12 col-md-3 col-lg-3 mobile-padding">
                                <img src="~/Content/template/img/dispute/dispute-4.png" alt="">
                                <p class="bar-ymp"></p>
                                <h3 class="stage"><a href="#">Stage 4</a></h3>
                                <p>Arbitration</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="note">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h5>Stage 2 - Payments</h5>
                <ul>
                    <li>TruGo strongly recommendeds you communicate clearly with the other party to resolve the matter</li>
                    <li><span>Note:</span> Failure for Protik46 to communicate within 14 days from when the dispute was lodged will result in favor of Rafsan Jany P.</li>
                    <li>After 7 Days either party elect to move the dispute to arbitration at a fee of $5.00 USD where the dispute will escalate to stage . The other Party will then have 4 days during this stage to agree to pay this fee and for both parties to submit any final evidence. The arbitration fee will then be refunded to the winner of the dispute.</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="negotiation">
                    <h4>Messages:</h4>
                    <div class="negotiation-inner clearfix">
                        <div class="message">
                            <div class="message-title clearfix">
                                <h5>Username</h5>
                                <span>February 14, 2018 at 12:05 + 6</span>
                            </div>
                            <div class="dispute-message">
                                <span>This is my observation for this invoice</span>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <form action="">
                    <div class="respond">
                        <h4>Raise Dispute:</h4>
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                    </div>
                    @*<div class="file-upload-area">
                        <h5>You may attach documentation to support your case:</h5>
                        <div class="file-upload-btn clearfix">
                            <div class="file-upload">
                                <label for="upload" class="file-upload__label">
                                    <i class="icofont icofont-plus"></i>
                                    Upload Files
                                </label>
                                <input id="upload" class="file-upload__input" type="file" name="file-upload">
                            </div>
                            <p>Drag &amp; Drop Multiple files Here.</p>
                        </div>
                    </div>*@
                    <a class="button-ymp dispute-reply" href="#">Submit</a>
                </form>
            </div>
            @*<div class="col-md-4">
                <div class="dispute-countdown clearfix">
                    <h4>5 Days, 18 Hours</h4>
                    <span class="respond-text">Left for Protik46 to respond</span>
                    <span class="arbitration">Proceed to Arbitration ($5.00 Fee)</span>
                    <span class="amount-disputed">Total Amount Disputed: <span>$75</span></span>
                    <a class="show-milestones" href="#">Show Milestones</a>
                    <div class="clearfix"></div>
                    <span class="enter-amount">Enter an amount between $1 and $74 USD</span>
                </div>
            </div>*@
        </div>
    </div>
</section>
