﻿@model TruGoClassLibrary.ResponseClass.InvoiceDetailResponseModel
@{
    ViewBag.Title = "ViewInvoice";
    Layout = "~/Views/Shared/_TemplateLayout.cshtml";
}
@section styles{
    <link href="~/Content/assets/pages/css/invoice.min.css" rel="stylesheet" type="text/css" />
}
<section id="overview">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body p-0">
                        <div class="row p-5">
                            <div class="col-md-6">
                                <img src="http://via.placeholder.com/400x90?text=logo">
                            </div>
                            <div class="col-md-6 text-right">
                                <p class="mb-1">Invoice Title: @Model.Invoice.InvoiceTitle</p>
                                <p class="font-weight-bold mb-1">Invoice #: @Model.Invoice.InvoiceNumber</p>
                                <p class="text-muted">Due Date: @Model.Invoice.DueDate.ToShortDateString()</p>
                            </div>
                        </div>
                        <hr class="my-5">
                        <div class="row pb-5 p-5">
                            <div class="col-md-6">
                                <p class="font-weight-bold mb-4">Client Information</p>
                                <p class="mb-1">@Model.Invoice.Client</p>

                            </div>
                            <div class="col-md-6 text-right">
                                <p class="font-weight-bold mb-4">Invoice Details</p>
                                <p class="mb-1"><span class="text-muted">Invoice Amount: </span> @Model.Invoice.Amount</p>
                                <p class="mb-1"><span class="text-muted">Discount Rate: </span> @Model.Invoice.DiscountRate</p>
                                <p class="mb-1"><span class="text-muted">Sale Price: </span> @Model.Invoice.SalePrice</p>
                            </div>
                        </div>
                        <div class="row p-5">
                            <div class="col-md-12">
                                <table class="table" style="overflow:auto">
                                    <thead>
                                        <tr>
                                            <th class="border-0 text-uppercase small font-weight-bold">Purchase Number</th>
                                            <th class="border-0 text-uppercase small font-weight-bold">Amount</th>
                                            <th class="border-0 text-uppercase small font-weight-bold">Percentage</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{

                                            if (Model.Payments.Count() > 0)
                                            {
                                                foreach (var item in Model.Payments)
                                                {
                                                    <tr>
                                                        <td>@item.Id</td>
                                                        <td>&#8358; @item.Amount</td>
                                                        <td>@item.InvoicePercentage</td>

                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row pb-5 p-5">
                            <div class="col-md-6">
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                        <p class="card-text">
                                            Invoice Notes <br />
                                            @Model.Invoice.Comment
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 text-right">
                                <ul class="list-unstyled amounts">
                                    <li class="margin-bottom-5">
                                        <strong>Invoice amount:</strong>&#8358; @Model.Invoice.Amount
                                    </li>
                                    <li class="margin-bottom-5">
                                        <strong>Discount rate:</strong> @Model.Invoice.DiscountRate %
                                    </li>
                                    <li class="margin-bottom-5">
                                        <strong>Total purchase:</strong> &#8358; @Model.Payments.Sum(m => m.Amount)
                                    </li>
                                    <li class="margin-bottom-5">
                                        <strong>Total purchase percentage:</strong> @Model.Payments.Sum(m => m.InvoicePercentage) %
                                    </li>
                                    <li class="margin-bottom-5">
                                        @{
                                            var balance = Model.Invoice.SalePrice - Model.Payments.Sum(m => m.Amount);

                                        }
                                        <strong>Balance:</strong> &#8358; @balance
                                    </li>
                                    <li class="margin-bottom-5">
                                        <strong>Percentage balance:</strong> 70%
                                    </li>
                                </ul>
                                <a class="btn btn-md btn-info" href="#" onclick="javascript:window.print();">
                                    Download invoice
                                </a>
                                <a class="btn btn-md btn-primary" href="/MarketPlace/Purchaseinvoice?invoiceid=@Model.Invoice.Id&code=@Model.Invoice.InvoiceGuid">
                                    Purchase

                                </a>
                                <a class="btn btn-md btn-danger" href="/MarketPlace/RaiseInvoiceDispute">
                                    Raise Dispute
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#pagecontent").css("background-color", "#fff");

        });
    </script>

}
