﻿@model IEnumerable<TruGoClassLibrary.ResponseClass.CreditResponseModel>
@{
    ViewBag.Title = "Viewusers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section styles{
    <link href="~/Content/assets/vendors/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
}
<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <input type="hidden" id="msg" value="@ViewBag.msg" />
    <div class="m-content">

        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            View all users
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                </div>
            </div>
            <div class="m-portlet__body">

                <table id="m_table_1" class="table table-striped- table-bordered table-hover table-checkable" style="width:100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Date</th>
                            <th>Channel</th>
                            <th>Ref</th>
                            <th>Email Address</th>
                            <th>Date Paid</th>
                            <th>Amount Requested</th>
                            <th>Total Credit</th>
                            <th>Approved</th>
                            <th>Verified</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model == null)
                            {

                            }
                            else
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td></td>
                                        <td>@item.Date_Created</td>
                                        <td>@item.Channel</td>
                                        <td>@item.PaymentRef</td>
                                        <td>@item.Profile.EmailAddress</td>
                                        <td>@item.Date_Paid</td>
                                        <td>@item.Amount</td>
                                        <td>@item.Profile.TotalCredit</td>
                                        <td>@item.Status</td>
                                        <td>@item.Verified</td>
                                        <td>



                                            <div class="dropdown">
                                                <a href="#" class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">
                                                    <i class="la la-ellipsis-h"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right" x-placement="top-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-187px, -57px, 0px);">
                                                    <a href="#" class="dropdown-item" data-toggle="modal" data-target="#revoke_@item.Id"><i class="la la-edit"></i>Revoke</a>

                                                </div>
                                            </div>


                                        </td>

                                    </tr>

                                    <div class="modal fade" id="revoke_@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                @using (Html.BeginForm("RevokeVerifiedRequest", "Credit", FormMethod.Post))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    <input type="hidden" name="Userid" value="@item.Profile.UserId" />
                                                    <input type="hidden" name="Id" value="@item.Id" />
                                                    <input type="hidden" name="CreditAmount" value="@item.Amount" />

                                                    <div class="modal-body">
                                                        <p>
                                                            This will revoke the selected verified credit request
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">Submit</button>
                                                    </div>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                }

                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Content/assets/vendors/custom/datatables/datatables.bundle.js" type="text/javascript"></script>
    <script src="~/Scripts/Viewusers.js"></script>
}